[2014-12-15 18:57] #1175 closed, assigned to nobody

[2014-12-15 22:12] #817 closed, assigned to nobody

[2014-12-15 22:46] Sfshaza opened #1200 "Document "pub downgrade""

[2014-12-15 23:35] #1199 closed, assigned to nobody

[2014-12-17 01:11] #1200 closed, assigned to Sfshaza

[2014-12-17 18:43] #824 closed, assigned to nobody

[2014-12-17 20:06] munificent opened #1201 "Clarify that doc comments are not required"
The style guide says:

Which can obviously be interpreted to mean every member and type must have a comment. That wasn't the intent. It just means that when you do comment, use doc comments. How about we change it to:

[2014-12-18 04:43] dangelo79 opened #1202 "Remove DOM Elements"
When typing a word on the Todo example app the return key is not working. To actually add the words, I had to click Delete all after typing it in the blank space, then if I trully want to delete the list i click again on Delete all.

[2014-12-18 17:24] #588 closed, assigned to nobody

[2014-12-18 17:48] #1023 closed, assigned to nobody

[2014-12-18 18:24] Sfshaza opened #1203 "Document new syntax for version constraints"
Thanks to a patch from external contributor Sean Eagan, pub now supports a new, more compact syntax for the most common sort of version constraint! You can now write ^version, which means "all versions compatible with version," following pub's version of semantic versioning. For example, ^1.2.3 is equivalent to ">=1.2.3 <2.0.0", and ^0.1.2 is equivalent to ">=0.1.2 <0.2.0".

dependencies:
  path:

[2014-12-18 18:45] #865 closed, assigned to nobody

[2014-12-18 19:21] #1201 closed, assigned to nobody

[2014-12-19 15:45] #1189 closed, assigned to nobody

[2014-12-19 16:22] Sfshaza opened #1204 "Dart team repos are moving to GitHub"
In dartlang, update the links to barback and any other packages that have been moved.

For more info:
https://groups.google.com/a/dartlang.org/forum/#!topic/misc/IjnwNXHGuPw

[2014-12-19 19:40] #927 closed, assigned to nobody

[2014-12-19 19:40] #1203 closed, assigned to Sfshaza

[2014-12-19 20:09] seaneagan opened #1205 ""Carrot" should be "Caret""
[This page](https://www.dartlang.org/tools/pub/dependencies.html#carrot-syntax) should instead refer to [caret](http://en.wikipedia.org/wiki/Caret).

Alternatively you could just refer to "^ constraints" or ["compatible with constraints"](https://github.com/dart-lang/pub_semver/blob/master/lib/src/version_constraint.dart#L153).

[2014-12-19 20:19] #1205 closed, assigned to nobody

[2014-12-20 03:15] #1204 closed, assigned to Sfshaza

[2014-12-20 19:12] ggirou opened #1206 "Add documentation about pub API"
How can I use pub API at this url: https://pub.dartlang.org/api/ ?

[2014-12-26 13:12] vikraman opened #1207 "https://dartlang.org is broken"
[code]

[code]

[2014-12-30 04:45] jechol opened #1208 "sanity-test is broken."
The sanity-test has not been updated, while site's layout has been changed.
For example, sanity-test checks if second navigation item is "DOCS", which has been changed to "FUNDAMENTALS".

[code]

[2014-12-30 17:35] #1207 closed, assigned to nobody

[2014-12-30 17:58] #1206 closed, assigned to nobody

[2015-01-05 16:26] Sfshaza opened #1212 "Update Darrrt (pirate) codelab to use Material Design"
As it says.

[2015-01-05 21:11] Sfshaza commented on #954
So this only works if you invoke:   new PirateName(null)  ?

I can't replicate this. If you can send me a working example, I will re-open.  Thx!

[2015-01-05 21:11] #954 closed

[2015-01-07 00:46] sethladd opened #1214 "Doc comments guidelines point to incorrect location in spec"
For https://www.dartlang.org/articles/doc-comment-guidelines/

The dart language spec no longer specifies what subset of markdown is mandatory. We should remove the sentence "Format your text using the markup specified in section 19.1.2 of the Dart Language Specification."

For the rest of the section called "Markup", we need to decide if this is where we specify what markdown we support.

It's pr

[2015-01-07 00:46] sethladd commented on #1214
cc @keertip

[2015-01-07 16:22] nicolasgarnier commented on #1164
Would be really cool to get this. As the test runner (which requires Content Shell) gains in traction more people are looking for Content Shell and it's currently not easy to find.

(For your convenience you can find the file name for content_shell here: http://gsdview.appspot.com/dart-archive/channels/dev/release/latest/dartium/)

[2015-01-08 18:48] kwalrath opened #1215 "Improve the download page"
See https://code.google.com/p/dart/issues/detail?id=21857 for more information.

[2015-01-08 20:51] kwalrath commented on #1215
Also https://code.google.com/p/dart/issues/detail?id=21734.

[2015-01-08 21:22] Sfshaza opened #1216 "dartanalyzer has an incorrect exit status 3 when analyzing a part"
Reported by jenw7810, Jun 27, 2014
To reproduce:
1. Create test.dart with the following contents:

part of library_name;

2.  Run:

dartanalyzer test.dart ; echo $?

which outputs 3.  This happens with version 1.5.1 and 1.4.0.  With version 1.3.6, it outputs 0.

According to:

https://www.dartlang.org/docs/dart-up-and-running/contents/ch04-tools-dart_analyzer.html

3 is not a valid exit status.

E

[2015-01-08 22:38] kwalrath commented on #1214
CL: https://chromiumcodereview.appspot.com/839083004/

[2015-01-08 22:43] kwalrath commented on #1202
Do you mean the app that's live in the "Try the app" section of https://www.dartlang.org/docs/tutorials/remove-elements/? I don't see this behavior. Could you give me more details on how to reproduce it? Include browser and OS info, just in case. Thanks!

[2015-01-10 16:17] bwilkerson opened #1217 "Inconsistent examples in style guide"
The examples for the guideline "PREFER using lowerCamelCase for constant names." includes a declaration of "pi" in both the good and bad examples. It can't be both.

[2015-01-11 03:52] taylorren commented on #803
Hi all,

Dart is now migrated to 1.8... So this enhancement is due when? Any outlook on this?

[2015-01-12 16:28] sethladd commented on #803
@taylorren please file your request at dartbug.com as this issue tracker only handles issues with www.dartlang.org's documentation and site. Thanks!

[2015-01-12 18:33] kwalrath commented on #1217
I've sent https://chromiumcodereview.appspot.com/847843002/ to @munificent.

[2015-01-12 19:13] #1214 closed

[2015-01-12 19:58] kwalrath opened #1219 "Rename docgen to dartdocgen"
When you use docgen now, you get this message:

The 'docgen' name is deprecated. Prefer 'dartdocgen' instead.

We should change docgen throughout our docs to dartdocgen, and acknowledge on www.dartlang.org/tools/docgen/ that the tool used to be called docgen.

[2015-01-12 22:20] munificent opened #1221 "Change style guide for conditional operators"
Based on discussions with the team and [this public thread](https://groups.google.com/a/dartlang.org/forum/#!msg/misc/3RWNnse8xQQ/tRFCa63E1ZwJ), we've decided to change the style guideline for conditional operators. Unlike other binary operators which stay on the previous line when a line break occurs near the operator, conditionals will go to the beginning of the next line, followed by a space.

[2015-01-12 22:56] #1217 closed

[2015-01-12 22:58] taylorren commented on #803
@sethladd Thanks. I will post one over there at dartbug.com.

[2015-01-15 21:54] Sfshaza commented on #1115
Fixed.

[2015-01-15 21:54] #1115 closed

[2015-01-16 23:18] sethladd opened #1223 "Clarify CORS headers in JSON article, fixing bug for Firefox"
Relevant pull request: https://github.com/chrisbu/dartlang_json_webservice_article_code/pull/9

Analysis: https://code.google.com/p/dart/issues/detail?id=16127#c5

Section of doc: https://www.dartlang.org/articles/json-web-service/#a-note-on-cors-and-httprequest

Suggestion: we should make it very clear that the header's value is `"*"`

[2015-01-20 16:54] BlackHC commented on #878
Imo it should not be acceptable for a style guide to allow for ambiguous cases except under very special circumstances. A style guide should also be minimal (following Occam's razor). Given that this rules overrides the perfectly fine +4 expression continuation indentation and also causes ambiguities, its existence should be questioned.

I also don't understand why you are allowing a descriptive a

[2015-01-21 19:15] Sfshaza commented on #1219
Fixed.

[2015-01-21 19:15] #1219 closed

[2015-01-21 20:46] munificent commented on #878
Sure, but whitespace formatting isn't part of it. From the grammar's perspective, it's all just a single opaque WHITESPACE production. The Dart grammar doesn't care how you indent your code, or if you do it at all. Formatting is for humans.

The style guide itself is prescriptive. It defines how you *should* format your code going forward. However, that isn't helpful for defining the style guide *

[2015-01-22 17:23] Sfshaza commented on #1216
Fixed.

[2015-01-22 17:23] #1216 closed

[2015-01-23 08:08] zoechi commented on #878
I liked indenting +2 for cascades until I saw how it looks when they are nested. I clearly prefer +4 since then.

[2015-01-24 18:21] munificent commented on #878
If you're nesting cascades, I think you've lost any hope of having the result be readable, unfortunately. The cascade syntax was deliberately chosen with the knowledge that it doesn't nest well. :(

[2015-01-27 14:03] BlackHC commented on #878
"The cascade syntax was deliberately chosen with the knowledge that it doesn't nest well. :("

Imo, a style guide should cover edge cases just as well and not just break down :( but let's see if we can improve it :)

As another example, the indentation becomes kinda weird when you mix it with a final . invocation and nest it.

[code]

(The dartformatter in the current 1.9dev4 sdk actually gets it

[2015-01-27 18:22] munificent commented on #878
That's probably [this bug](https://github.com/dart-lang/dart_style/issues/143).

They aren't on the same level in the *grammar*, but the formatter erroneously acts as if they are. This bug has been there for a long time, but expressions that mix cascades and method calls are rare enough in the wild that it didn't show up until recently.

For your example, I believe the formatter should produce:

[

[2015-01-27 20:06] kwalrath opened #1229 "Add library naming conventions to the API Naming Guide"

[2015-01-27 20:07] kwalrath opened #1230 "Add class naming conventions to the API Naming Guide"

[2015-01-29 23:24] sethladd opened #1232 "Doc Clarification: @proxy usage and clarification in language tour"
Hi,

In https://www.dartlang.org/docs/dart-up-and-running/ch02.html

There is this statement:

[code]

This is true sometimes. :)

Consider this case:

[code]

In the above case, you don't need to use `@proxy` on FakeThing.

[2015-01-31 20:55] sethladd opened #1234 "Language Tour does not mention callable objects"
Went looking for documentation on callable objects, and unfortunately didn't really find much. I couldn't find it in the language tour, either.

Would love to have some simple reference docs for this language feature. Thanks!

[2015-02-02 22:49] kwalrath commented on #1234
I should put some of the info from https://www.dartlang.org/articles/emulating-functions/#the-call-method into the language tour.

[2015-02-03 00:41] Sfshaza commented on #1186
The getting started tutorial is now updated.

[2015-02-03 17:50] munificent opened #1237 "Clarify naming rules for enums"
The style guide does implicitly cover them, but it should be explicit. Under "DO name types using UpperCamelCase", change:

[code]

to:

[code]

Under "PREFER using lowerCamelCase for constant names.", change:

[code]

to:

[code]

How does that sound?

[2015-02-03 18:05] BlackHC commented on #878
I'd prefer to have the same nesting level for the same logical block. For me, everything within one pair of () is a logical block. The example above looks to me like it uses +6 for cascades and +4 for everything else ^^'

[2015-02-03 20:02] kwalrath commented on #1237
sgtm

[2015-02-03 20:54] bwilkerson opened #1238 "Additional guideline for "API Naming Guide""
In the section titled "Getters vs. methods", there is a conspicuous absence of a guideline that I've frequently heard: that getters should only be used for relatively fast operations. If it's possible for the operation to take a long time then it should be a method.

[2015-02-04 01:35] kwalrath commented on #1238
Lasse's original doc did have comments on that, but I omitted them because I wasn't sure they'd be helpful. Here's the original:

Maybe I should add something like this:

* Does the getter/method sometimes perform an expensive operation?
  If so, make it a method.

What do you think?

[2015-02-04 01:41] bwilkerson commented on #1238
Personally, I like the longer original version better because it more fully
explains the rationale (and the rationale is more important in my mind than
the rules derived from it). But if you need to be terse, then go with the
shorter text.

[2015-02-04 01:48] kwalrath commented on #1238
From my point of view, rationale is interesting and sometimes helpful, but clear rules are _always_ helpful. Most people don't read.

I'll try to think of a better way to get the point across.

[2015-02-05 17:35] seaneagan opened #1239 "Style Guide: AVOID bracketed interpolation of simple identifiers."
If it's in the linter:

https://github.com/dart-lang/dart_lint/issues/3

seems like it should then also be in the style guide:

AVOID bracketed interpolation of simple identifiers.

#### bad
[code]

#### good
[code]

[2015-02-05 17:46] seaneagan commented on #1239
Should also mention that it's OK when followed by alpha numerics:
####good
[code]

[2015-02-05 21:14] pq commented on #1239
I'll leave to other's on the style council to deem whether this is style guide worthy (ahem @munificent) but I should chime in on this point:

I would turn it around actually:

**if it's in the style guide it should be in the linter**

My thinking is that the linter will certainly provide rules that transcend the guide.  Indeed it may even have rules that contradict it (or certainly rules that are

[2015-02-06 01:00] nex3 opened #1240 ""Writing a Lazy Transformer" doc is inaccurate"
Currently the "Writing a Lazy Transformer" documentation says that the `Transformer.declareOutputs` method should return an `AssetId`. This is inaccurate: it should declare that `AssetId` using `Transform.addOutputId`; other than waiting for a `Future`, its return value is ignored.

[2015-02-06 08:31] eernstg commented on #1240
Aha, sounds like that's something I need to know!  (Haven't processed all
the mail from the past 12 hours, so you probably have already told me about
it ;-).

On Fri, Feb 6, 2015 at 2:00 AM, Natalie Weizenbaum <notifications@github.com

--
Erik Ernst  -  Google Danmark ApS
Skt Petri Passage 5, 2 sal, 1165 København K, Denmark
CVR no. 28866984

[2015-02-06 15:45] zoechi opened #1241 "document $dart2js sourceMaps option"
https://www.dartlang.org/tools/pub/dart2js-transformer.html
https://code.google.com/p/dart/issues/detail?id=22174#c18

[2015-02-06 15:52] sethladd commented on #1241
Good catch. Patches welcome! :)

[2015-02-06 22:03] Sfshaza commented on #1186
Chapter 1 of Dart Up and Running and the Connect Dart & HTML tutorial are now updated.

[2015-02-06 22:03] #1186 closed

[2015-02-09 16:15] kwalrath commented on #1223
Do we really need to change the doc? It only mentions the CORS header once, with no code shown.

[2015-02-09 16:19] kwalrath commented on #937
Details on new features from that bug:

[2015-02-09 16:22] kwalrath commented on #873
@anders-sandholm should we move this bug somewhere else?

[2015-02-09 16:23] kwalrath commented on #873
Or maybe that should be @kevmoo...

[2015-02-09 16:34] sethladd commented on #1223
Looking again, we don't need to mention '*'.

However, we should rewrite the code to use dart:js instead of package:js.

[2015-02-09 16:49] kwalrath commented on #1223
It's not a straight substitution, since the dart:js API is different from package:js. Would @chrisbu be up for updating that code? (It doesn't seem to be in the chrisbu/dartlang_json_webservice_article_code repo, but it probably should be.) If he updates the code, I'll be happy to update the article text.

[2015-02-09 17:06] sethladd commented on #1223
Chris merged a PR from me last week. We'll have to update the code ourselves and send the PR.

I think the conversion is pretty straight forward, but agree that it's not as simple as replacing the import.

[2015-02-09 17:53] kwalrath opened #1243 "polymer.dart version of the single-page app tutorial"
It would be a Dart version of this: https://www.polymer-project.org/articles/spa.html

See: https://github.com/dart-lang/polymer-dart/issues/16

[2015-02-09 21:58] Sfshaza commented on #1241
Zoechi beat me to it.  :)  thx

[2015-02-09 21:58] #1241 closed

[2015-02-10 00:42] munificent commented on #1239
:+1: for having this in the style guide. I would say:

[2015-02-10 02:44] pq commented on #1239
Awesome.  Where do we go from here? Does @kwalrath own changes or is a pull request welcome?

[2015-02-10 16:59] kwalrath commented on #1239
Either one is fine, but I can take care of this one.

[2015-02-10 17:48] pq commented on #1239
:+1: Thanks @kwalrath!

[2015-02-10 17:49] kwalrath commented on #1239
https://chromiumcodereview.appspot.com/913733003/

[2015-02-11 17:32] Sfshaza commented on #1240
Fixed. Thx

[2015-02-11 17:32] #1240 closed

[2015-02-12 21:50] munificent opened #1247 "Update dartfmt docs to describe new formatter"
As part of migrating from the old to the new formatter, we should update the documentation. I can provide lots more details on what this means when the time comes (which is soon!), but I wanted to get the bug open now. :)

[2015-02-12 21:53] sethladd commented on #1247
cc @Sfshaza

[2015-02-13 08:31] zoechi opened #1249 "API Naming article: `optional` should not be omitted in this sentence"
https://github.com/dart-lang/www.dartlang.org/blame/master/src/site/articles/api-naming-guide/index.markdown#L398

I think

should be

even though "optional" is used 2 sentences below I think it's important to not omit it in the first sentence of the highlighted area.

I still find the 2nd form a bit weird because the "optional" seems to reference "named" but named parameters are always optional a

[2015-02-13 18:26] srawlins opened #1251 ""Publishing a Package" page is kind of stubby"
["Publishing a Package"](https://www.dartlang.org/tools/pub/publishing.html) is pretty short, almost just a place-holder. Let's beef it up.

I'll send a PR with my two cents.

[2015-02-13 21:18] pq commented on #635
:+1:  for getting this settled.  "Organize imports" is a much valued action in most IDEs.  More FWIW, `analysis_server` currently takes a stab at this.  It's surfaced in DartEditor as the "Sort unit/class members" action.  I think it follows Bob's suggestion above but will defer to @scheglov for the details.

[2015-02-13 23:01] kwalrath commented on #1249
Not sure why the merge isn't showing up. The change is merged and live. https://github.com/dart-lang/www.dartlang.org/pull/1250

[2015-02-13 23:01] #1249 closed

[2015-02-16 15:00] seaneagan commented on #635
Here's a try at the actual rules:

* DO specify `dart:` imports before `package:` imports before relative imports, with each section alphabetically sorted and separated from the previous section by a single empty line.

* PREFER to specify exports in a separate section after all imports and a single empty line.

* PREFER to specify a library name for all libraries.

Thoughts?

[2015-02-16 16:35] sethladd opened #1253 "Link to Google's privacy policy from Observatory docs"
http://www.google.com/policies/privacy/

Thanks!

[2015-02-16 16:35] sethladd commented on #1253
cc @Sfshaza can you help us here?

cc @johnmccutchan for FYI

[2015-02-17 19:36] xxgreg opened #1254 "Suggested text change to serialization article"
From: https://www.dartlang.org/articles/serialization/

Perhaps consider changing this line:

    "Disclaimer: Dartson is not an official Google project."

To something more friendly like:

    "Dartson is a community project started by Eric Schneller."

The former seems a bit negative and anti-community.

[2015-02-17 19:42] xxgreg commented on #1254
Forgot to mention. Great article ;)

[2015-02-18 01:15] kwalrath commented on #1254
Thanks! @nicolasgarnier are you OK with this change?

[2015-02-18 06:31] nicolasgarnier commented on #1254
That change sounds great! Thanks @xxgreg

[2015-02-18 08:10] xxgreg commented on #1254
;)

[2015-02-18 17:39] kwalrath commented on #1254
https://chromiumcodereview.appspot.com/932133003/

[2015-02-18 18:40] kwalrath commented on #1254
Fix is up. Thanks!

[2015-02-18 18:40] #1254 closed

[2015-02-18 23:31] munificent commented on #635
That sounds good to me.

[2015-02-18 23:31] munificent commented on #1239
Thanks!

[2015-02-18 23:31] #1251 closed

[2015-02-18 23:37] kwalrath opened #1255 "edit pub-lish.html & publishing.html"
See https://github.com/dart-lang/www.dartlang.org/pull/1252 for the discussion. The gist is this: The doc for Publishing should be mainly in tools/pub/publishing.html, with the pub publish command docs having just the basic facts of using that command.

We also need to look at the headings on publishing.html, and probably create a TOC for that page.

[2015-02-20 18:00] Sfshaza commented on #1253
Fixed.
https://www.dartlang.org/tools/observatory/

[2015-02-20 18:00] #1253 closed

[2015-02-20 19:23] #1239 closed

[2015-02-20 19:26] kwalrath commented on #1238
@lrhn (hope you're the right person!) do you have an opinion?

[2015-02-20 19:28] kwalrath commented on #635
I'll prep a CL.

[2015-02-21 19:55] sethladd opened #1256 "Pubspec format doesn't like environment as top-level config value"
Top of https://www.dartlang.org/tools/pub/pubspec.html#sdk-constraints doesn't list `environment` as a top-level supported pubspec config variable. Can we add it? Thanks!

[2015-02-21 19:56] sethladd commented on #1256
(it's at the bottom of the page, though)

[2015-02-23 17:31] sethladd opened #1257 "Can we add Observatory to the homepage?"
Hi!

Under "Dart’s tools help you be productive" we have:

pub
dev server
dartium

We don't link to "dev server"... should we?

Can we link to Observatory? Its screenshots are pretty awesome, might be useful for the carousel for the Tools section.

There's a bunch of other tools. What should make the cut?

Thanks!

[2015-02-23 17:31] sethladd commented on #1257
@Sfshaza @kwalrath

[2015-02-24 10:08] lrhn commented on #1238
I think the simple rules should be:
- "Properties" of objects are named with noun phrases. Examples: "length"
of a List, "keys" of a Map, "name" of a Person,
"leastRecentlyAccessedEntry" of a cache.
- "Operations" are named with verb phrases. Examples: "insert" into a List,
"remove" from a Map, "clear" of a cache. Operations often modify the
object, but may also just be performing a complex or exp

[2015-02-24 21:17] Sfshaza commented on #1255
Fixed.

[2015-02-24 21:17] #1255 closed

[2015-02-25 01:21] kwalrath commented on #1237
https://chromiumcodereview.appspot.com/959553002

[2015-02-25 01:22] kwalrath commented on #1221
https://chromiumcodereview.appspot.com/959553002

[2015-02-25 01:22] kwalrath commented on #860
https://chromiumcodereview.appspot.com/959553002

[2015-02-25 01:23] kwalrath commented on #635
https://chromiumcodereview.appspot.com/959553002 covers import & export order, as well as specifying a library. It doesn't cover the license or the order of license, library, and code.

[2015-02-25 17:40] kwalrath opened #1258 "After 1.9 is shipping in stable channel, remove opt-in info for enums & async"
Also search for and expunge other mentions of 1.8.

[2015-02-25 22:28] kwalrath opened #1259 "Update figure in /docs/tutorials/fetchdata/"
[portmanteaux-callback.png](https://www.dartlang.org/docs/tutorials/fetchdata/images/portmanteaux-callback.png) should reflect the fix from https://github.com/dart-lang/dart-tutorials-samples/pull/21:

{$request.status} -> ${request.status}

[2015-02-26 23:16] kwalrath opened #1261 "Automatically stage the website"
Whenever someone creates/updates a branch of this repo, we should stage it. That would make contributing to the docs much easier for dart-lang team members. We could have a special branch (not master) that's the source for the real site (the "default" version, in App Engine speak).

I've heard that HTMLRocks does automatic staging, using WebHooks & Travis.

@sethladd might have more details.

[2015-02-26 23:19] sethladd commented on #1261
@paulkinlan has it all set up for H5R

[2015-02-27 00:30] kwalrath opened #1262 "Refactor the download page"
By the end of March, we need to refactor the download page to not be so intimidating/confusing.

Present a choice between two download options:

\[Editor + SDK] _or_ \[SDK (BYO Editor)]

After they make that choice (which we should record as an analytics event), a 2nd page/part should present the info for the stable download. Button for Dart Editor, links for everything else.

Link to a separate p

[2015-03-02 11:42] lrhn commented on #1229
I don't think we have a library naming convention at all, and library names are completely irrelevant in practice anyway. Trying to invent a convention now is probably going to go against 75% of the existing library names, assuming that we can find even 25% that agrees on something.

I'll see if we can find some suggestions that you can use if you have no other preferences.

[2015-03-02 12:53] zoechi commented on #1229
There are a few rules https://www.dartlang.org/articles/style-guide/#do-prefix-library-names-with-the-package-name-and-a-dot-separated-path
I wondered why the analyzer package doesn't prefix the library names with the package names (just stumbled upon it while trying to figure out how the package can be used).

[2015-03-02 16:02] sethladd commented on #1229
Even some guidance or a few "at least, don't do this" tips would be helpful :)

[2015-03-03 09:56] sgjesse opened #1263 "Typo in step 3.) of one-hour-codelab"
Reported by gpslayer, https://code.google.com/p/dart/issues/detail?id=22622

There is typo in step 3.) of one-hour-codelab , there is "Edit piragebadge.dart," but piratebadge.dart is expected to be there.

I am sorry if I reported it to wrong place.

[2015-03-04 16:58] kwalrath opened #1264 "Update expiration date for Dartium"
From https://code.google.com/p/dart/issues/detail?id=22645:

Dartium expiration from 1.9 onward is 1 year not 12 weeks.  We should fix the note on the page:

"The Dartium binary expires after 12 weeks."

May want to show the alert box and the devtool console error message of what happens.

[2015-03-04 17:23] zoechi opened #1265 "code.google.com code search doesn't list Dart"
https://code.google.com/p/chromium/codesearch
field Language

[2015-03-04 22:03] munificent opened #1266 "Clarify 80-column exception for directives"
The 80-column limit is an `AVOID` rule, so it does allow exceptions. Even so, it would be good to clarify that one we specifically accept is long directive (import/export/part) lines. You shouldn't have to split those strings to fit in 80 columns.

[2015-03-04 22:13] zoechi commented on #1266
I really want the `show`, `hide`, and `as` within the visible range, I hope this is not what you mean.

[2015-03-05 00:36] munificent commented on #1266
Yes, it will certainly wrap those. That's a good point. I should clarify that I only meant the *url* in a directive can span more than 80 columns.

[2015-03-05 01:09] pq commented on #1262
FWIW, it would be fantastic if we had separate pages for the various SDK channel downloads.  IOW one page for the latest *DEV* SDK and another for the latest *STABLE* SDK.

For context, we're adding some checking to IntelliJ to ensure that the current SDK is up to date.  If it's not, we present them with a URL.  Ideally, this URL should bring them to a page from which they can easily suss out what

[2015-03-05 03:07] sethladd commented on #1262
"page from which they can easily suss out what they want to download." -- exactly what we're aiming to do :)

[2015-03-05 04:57] zoechi commented on #1266
The URL is a string. Stings are never split I hope ;-)

[2015-03-05 20:37] munificent commented on #1266
No, the formatter doesn't split strings, but *users* are generally expected to split them to keep the result within the column limitations. The intent of the exception here is so that users know they are *not* expected to do that for directive URLs.

[2015-03-06 06:30] zoechi commented on #1266
So this is about
[code]
which could be
[code]
Never thought of this even being possible before :-)

[2015-03-06 19:09] munificent commented on #1266
Yes, exactly right. :)

[2015-03-06 19:42] seaneagan commented on #1266
If [configured imports](https://github.com/lrhn/dep-configured-imports) land, there could a bunch of stuff that comes before the url string, and rather than starting the url string at the 79th column and allowing it to extend indefinitely, I would think it should at least start on the next line.

[2015-03-09 17:56] Sfshaza commented on #1247
Fixed.

[2015-03-09 17:56] #1247 closed

[2015-03-11 03:17] Sfshaza commented on #1243
Released here:
https://www.dartlang.org/polymer/spa/

[2015-03-11 03:17] #1243 closed

[2015-03-11 19:13] kwalrath opened #1274 "Split out the web_components docs from the polymer docs"

[2015-03-11 19:41] kwalrath opened #1275 "Use @HtmlImport instead of HTML imports"
We should change our sample code to use the more Darty way of importing custom elements. This affects all the polymer examples and docs, plus anything we write for web_components.

[2015-03-11 23:28] StokeMasterJack opened #1276 "FAQ does not scroll correctly in my browser"
Chrome Version 41.0.2272.76 (64-bit)
Mac OS X10.8.5

The left panel (the one listing the questions) does not scroll in my browser.

[2015-03-12 17:31] kwalrath commented on #1265
Won't fix: http://google-opensource.blogspot.com/2015/03/farewell-to-google-code.html

[2015-03-12 17:31] #1265 closed

[2015-03-13 01:57] ESWAT commented on #1077
While working on https://github.com/dart-lang/www.dartlang.org/pull/1277 I figured applying `data-offset` to that sidebar would have fixed the issue, but it persisted. Must be another way…

[2015-03-13 18:06] munificent opened #1280 "Clarify /// and /** */ in Doc Comment article"
The article consistently uses `///`, which is good, but it might help to re-iterate that it is preferred over `/** */` since the style guide does mention both styles.

Also, we should link to a class that uses `///` (or fix Completer, I suppose, but that's more effort). Maybe the path library: https://github.com/dart-lang/path/blob/master/lib/path.dart?

[2015-03-13 20:00] sethladd opened #1281 "Some blocks not disappearing when displaying summit sessions"
After clicking "Sessions", I see this:

![screen shot 2015-03-13 at 12 57 36 pm](https://cloud.githubusercontent.com/assets/5479/6646295/c4be5376-c980-11e4-8478-bd04588300f6.png)

Diff from master is here: https://github.com/dart-lang/www.dartlang.org/compare/summit-sessions

[2015-03-13 20:25] mehaase commented on #1280
https://github.com/dart-lang/www.dartlang.org/pull/1282

[2015-03-16 17:47] kwalrath opened #1283 "Write an article/tutorial explaining JS/Dart diffs for Web APIs"
Copied from https://code.google.com/p/dart/issues/detail?id=20060.

@efortuna reported this feedback from a hackathon:

[2015-03-16 17:56] kwalrath commented on #1283
Maybe we could update @munificent's [Improving the DOM](https://www.dartlang.org/articles/improving-the-dom/) article and link to it prominently from places that discuss client-side programming.

[2015-03-17 00:28] kwalrath commented on #1281
@nicolasgarnier can you take a look?

[2015-03-17 07:50] zoechi opened #1284 "Style - allow underline in identifier names"
I think the types, constant, and identifier name rules are too strict.

See dart-lang/linter#52

I think underlines should be allowed when the casing of the first character is correct and upper- and lower-case characters are used.

I think underlines should be allowed to avoid ambiguity.
This didn't matter as long as there was no linter but I think it's too inconvenient to add a linter ignore comm

[2015-03-19 15:49] kwalrath opened #1286 "Delete or update Chapter 5"
https://www.dartlang.org/docs/dart-up-and-running/ch05.html does not have many readers, but the code for Dartiverse Search has been updated to use the new asynchrony features and generators. We should either update the walkthrough or delete the chapter.

[2015-03-19 15:50] kwalrath commented on #1237
Fixed: https://www.dartlang.org/articles/style-guide/#do-name-types-using-uppercamelcase

[2015-03-19 15:50] #1237 closed

[2015-03-19 15:50] kwalrath commented on #1221
Fixed: https://www.dartlang.org/articles/style-guide/#do-place-binary-operators-on-the-preceding-line-in-a-multi-line-expression

[2015-03-19 15:50] #1221 closed

[2015-03-19 15:52] kwalrath commented on #860
Fixed: https://www.dartlang.org/articles/style-guide/#ordering

[2015-03-19 15:52] #860 closed

[2015-03-19 16:04] #1280 closed

[2015-03-19 22:09] kwalrath commented on #1258
In progress: https://chromiumcodereview.appspot.com/1018183003/ (language-19)

[2015-03-20 17:57] munificent commented on #1284
Sorry, but I really don't think underscores need to be allowed in those kinds of names.

[2015-03-20 17:57] #1284 closed

[2015-03-20 23:16] Janamou opened #1289 "Mention pub build - minified option in Darrrt code lab"
In the step 7: https://www.dartlang.org/codelabs/darrrt/#step-seven is written "Select pubspec.yaml then select Tools > Pub Build"

But from 1.9 it is divided in Dart editor into two options: Pub build - minified and Pub build - debug.

So I think that in the code lab should be then written "Pub build - minified" and maybe some discussion what's the difference between pub minified and debug (for D

[2015-03-24 18:14] kevmoo commented on #1258
Also want to update https://www.dartlang.org/articles/await-async/ ?

[2015-03-25 00:38] Dejas9000 opened #1290 ""Installing for server-side development on Debian/Ubuntu" do not appear to be correct."
I have a fresh Ubuntu install (14.10).  I took the directions given at:

https://www.dartlang.org/tools/download.html#debian

and created the following script:

sudo apt-get update
sudo apt-get install apt-transport-https
sudo sh -c 'curl -k https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
sudo sh -c 'curl -k https://storage.googleapis.com/download.dartlang.org/linux/debian/d

[2015-03-25 05:15] zoechi opened #1291 "Not existing question mark operator"
https://www.dartlang.org/dart-tips/dart-tips-ep-6.html
mentions a question mark operator to check if an optional argument was passed. As far as I know this operator doesn't exist. Please add at least a note.

[2015-03-25 05:36] sethladd commented on #1291
Thanks for noticing! Patches most welcome.

[2015-03-25 06:44] rightisleft opened #1292 "Deprecated Operator"
https://www.dartlang.org/dart-tips/dart-tips-ep-6.html

Having documentation for a deprecated operator is confusing and should be removed or updated

void alignDingleArm(num axis, [num rotations]) {
  if (?rotations) {
    // the parameter was really used
  }
}

[2015-03-25 06:46] zoechi commented on #1292
dup of #1291

[2015-03-25 21:48] kwalrath commented on #1264
@terrylucas a CL is in flight: https://codereview.appspot.com/218240043/.

If you can give @Sfshaza a JPG and a copy of the error message, she can probably add those now.

[2015-03-25 23:10] Janamou opened #1294 "Mention correct return type in async main() function for Pirate codelab"
In this step of pirate codelab: https://www.dartlang.org/codelabs/darrrt/#i-classfa-fa-anchor-i-edit-piratebadgedart-4

There is change in one example from:
`void main() {`

to
`main() async {`

But there is not mentioned that `void` has to be omitted from `main()` function when using `async` or it will not work (it technically returns then `Future`). And this thing could be easily overlooked by u

[2015-03-26 09:53] sethladd commented on #1294
Good catch!

[2015-03-26 10:43] polux opened #1295 "async phase 2 article typo"
`get Stream naturals async*` should be `Stream get naturals async*` (the former isn't valid Dart). I would fix the typo myself since I have commit rights, but I'm not familiar with your workflow.

[2015-03-26 12:22] sethladd commented on #1295
thanks for the head's up! Pull Requests very much appreciated :)

[2015-03-26 12:31] polux commented on #1295
The only "problem" when I do that is that since I have the right to commit the two only options github gives me when doing so seem to be commit right away or create a new branch called polux-patch-1 _in this repository_. I can of course manually fork the project and send a pull request then. But I'm asking now so that I know in the future: is it ok to create branches in this repository for stuff l

[2015-03-26 12:41] sethladd commented on #1295
Sure! A branch is cool.

[2015-03-26 12:45] polux commented on #1295
Great! Created #1297. Googlebot says I must sign the CLA but I'm a googler so I don't think I need to. (I seem to remember there was an announcement that for now googlebot is broken that way for googlers.)

[2015-03-26 12:46] #1295 closed

[2015-03-27 00:08] floitschG opened #1298 "dart2js page claims that dart2js doesn't support async/await"
https://www.dartlang.org/tools/dart2js/ claims that:

===
dart2js doesn’t currently support async functions or await expressions. However, you can try out asynchrony in your Dart web app by using the async-await pub transformer when you build the JavaScript version of your app. For more information on this feature, see Asynchrony support.
To use dart2js on code that includes enumerated types, opt

[2015-03-27 06:07] sethladd commented on #1298
Thanks for the catch!

[2015-03-27 17:00] kwalrath commented on #1298
Fix is visible now.

https://codereview.appspot.com/221890043/

[2015-03-27 17:00] #1298 closed

[2015-03-27 17:01] #1292 closed

[2015-03-27 17:05] kwalrath commented on #1290
@sethladd who'd be a good person to take a look at this?

[2015-03-27 17:05] kwalrath commented on #1281
@sethladd are you still seeing this? I never have.

[2015-03-27 17:08] Sfshaza commented on #1264
Fixed.

[2015-03-27 17:08] #1264 closed

[2015-03-27 23:40] sethladd commented on #1281
Fixed! Thanks for the nudge.

[2015-03-27 23:40] #1281 closed

[2015-03-27 23:42] sethladd commented on #1290
hm, probably @sgjesse or @whesse could help verify this suggestion?

[2015-03-28 07:08] kalopsia commented on #728
What's new here? It has been over 6 months. I try to find exhaustive resource using i18n/l10n features with Dart.

[2015-03-30 23:55] sethladd commented on #728
I don't think anyone is working on this tutorial. We suggest emailing misc@dartlang.org with any questions, as perhaps people on that general list have some experience with the intl package.

[2015-03-31 17:12] kwalrath commented on #1262
wip: https://download-dot-dart-lang.appspot.com/downloads/

[2015-03-31 22:04] kwalrath opened #1305 "toc.html conflicts with download buttons"
If you add a TOC to a page that has download buttons, those buttons no longer work—the HTML is visible on the page. I thought it might have something to do with toc.html's usage of `{::options parse_block_html="false" /}`, but adding a true/false block around the download buttons didn't help.

To reproduce, find any page that has download buttons, and add the following line above the page title bu

[2015-03-31 22:04] kwalrath commented on #1305
My workaround has been to either remove the TOC or use regular links, not buttons. It's been a real pain as I reorganize the download page.

[2015-04-01 17:24] kwalrath commented on #1215
Duplicate of https://github.com/dart-lang/www.dartlang.org/issues/1262

[2015-04-01 17:24] #1215 closed

[2015-04-01 17:54] kwalrath commented on #1262
CL: https://chromiumcodereview.appspot.com/1058543002/

[2015-04-01 19:08] Janamou opened #1306 "Link new articles about asynchronous programming in Command line apps guide"
Here: https://www.dartlang.org/docs/serverguide.html#read-all-about-it would be nice to also link the two new articles about asynchronous programming (async, await etc.) - under the Basics section(?) because the dart:io library article is using it. To have it complete.

Or I can make you pull request for it, if you want :-)

[2015-04-01 20:44] kwalrath commented on #1291
Dupe of #766.

[2015-04-01 20:44] #1291 closed

[2015-04-02 18:03] sethladd opened #1308 "Document the new warning from Dartium (sandbox is disabled)"
We should probably document why Dartium tells people the sandbox is disabled.

http://d.pr/i/WehX

Thanks!

[2015-04-02 21:49] zoechi commented on #1308
It would be great to be able to disable this message. Not need to see the same message thousands of times.

[2015-04-04 21:40] zoechi opened #1310 "Snapshots article mentions snapshots in browser"
https://www.dartlang.org/articles/snapshots/#how-the-browser-can-use-snapshots
There are no browsers which contain a Dart VM ...

[2015-04-07 17:06] kwalrath opened #1312 "http -> https for pub, youtube links"
global change:

http://pub.dartlang.org -> https://pub.dartlang.org
http://www.youtube.com -> https://www.youtube.com

This will reduce the number of redirects reported by link checkers.

[2015-04-07 17:17] kwalrath commented on #1310
Fixed. I expect to push the site later today.

[2015-04-07 17:17] #1310 closed

[2015-04-07 22:25] kwalrath opened #1313 "remove --enable-enum from analyzer docs"
https://www.dartlang.org/tools/analyzer/
(and anywhere else that mentions --enable-enum)

[2015-04-09 23:57] sethladd opened #1315 "Unclear what the "stack trace" link is"
Hi, trying to get a stack trace with Observatory. I searched for "observatory stack trace" and I found this page: https://www.dartlang.org/tools/observatory/stack-trace.html

It reads "To get to the stack trace, choose the stack trace link on the VM screen"

Can we give more info about what the "stack trace link" is? And what is the "VM screen" ?

Maybe some screenshots and/or links to what these

[2015-04-09 23:57] sethladd commented on #1315
cc @johnmccutchan

[2015-04-09 23:59] sethladd commented on #1315
Is this the VM screen?

![screen shot 2015-04-09 at 4 59 10 pm](https://cloud.githubusercontent.com/assets/5479/7079499/b97111ca-ded9-11e4-80a2-b5b1b40fd3bc.png)

(if so, I might be blind, but I can't see the words "stack trace")

[2015-04-10 00:00] sethladd commented on #1315
Ah, it's probably the word "[debug]"

If so, can we update the docs?

[2015-04-10 14:04] johnmccutchan commented on #1315
Stacktrace and debugger have been merged.

[2015-04-12 03:19] sethladd opened #1318 "Request: add -n to the docs for dartfmt"
For https://www.dartlang.org/tools/dartfmt/

[code]

Thanks!

[2015-04-13 20:34] sethladd commented on #1234
Friendly ping. Just went searching for this info again. Finding info on "callable objects" is still pretty difficult for Dart. Thanks!

[2015-04-13 20:56] nex3 commented on #1164
I'm about to add support for content shell to the new test runner, and I'd also really like to have a simple recipe I can give users to install it.

[2015-04-13 21:30] kevmoo commented on #1164
Our homebrew tap has `dartium` and `content_shell` - https://github.com/dart-lang/homebrew-dart/blob/master/dartium.rb

We can certainly advertise these for mac folks.

[2015-04-14 09:02] ricowind commented on #1164
Just a heads up here: distributing content shell is a headache, since you need to install a bunch of stuff the get it running on Linux (and to get it running correctly on mac, e.g., display settings). Content shell is not something the chrome team officially support, i.e., they require that all devlopers have run install-build-deps.sh.

[2015-04-14 23:04] nex3 opened #1320 "https://dartlang.org is unavailable"
If you navigate to https://dartlang.org (specifically with HTTPS and without `www.`), it presents a "This website is unavailable" page.

[2015-04-14 23:13] sethladd commented on #1320
Unfortunate missing feature of App Engine. App Engine doesn't support "naked domains". I don't think there's much we can do, without finding a very different way to host things.

[2015-04-14 23:14] sethladd commented on #1320
The naked domain redirect is handled by Google Apps, IIR.

[2015-04-14 23:15] nex3 commented on #1320
There's not even a way to set up a redirect? That seems like a colossal missing feature.

[2015-04-14 23:15] sethladd commented on #1320
![screen shot 2015-04-14 at 4 15 55 pm](https://cloud.githubusercontent.com/assets/5479/7149372/7edfccd6-e2c1-11e4-9b6d-056694ed8a79.png)

[2015-04-14 23:16] sethladd commented on #1320
it's apparently hard coded to http.

I've been asking for this for years. :(

Closing for now, as I don't know what to do. Is this impacting anything major?

[2015-04-14 23:16] #1320 closed

[2015-04-14 23:16] nex3 commented on #1320
Nothing other than user confusion.

[2015-04-14 23:17] sethladd commented on #1320
Hold up... looks like they have (recently?) added support for it.

https://cloud.google.com/appengine/kb/general#naked_domain

[2015-04-14 23:18] sethladd commented on #1320
Oh, doh! from app engine: "SSL support for custom domains is currently only supported via Google Apps."

Looks like we're stuck for now.

[2015-04-15 10:28] LucWollants opened #1321 "Dart Up and Running - Chapter 2: Error in sample for function equality"
In [chapter 2 of Dart Up and Running] (https://www.dartlang.org/docs/dart-up-and-running/ch02.html#functions) a sample is shown to compare functions.

At the beginning a class 'SomeClass' is defined but later on class 'A' is used, this should also be 'SomeClass'. The working code is:

[code]

[2015-04-17 16:10] kwalrath commented on #1321
Oops. Or just switch SomeClass to A (as in the test, https://github.com/dart-lang/dart-up-and-running-book/blob/master/code/ch02/function_equality_2.dart; either way, the chapter and the test should match). It's going to take me a little while to get to this. In the meantime, PRs are welcome...

[2015-04-17 18:10] Sfshaza commented on #1263
This typo has been fixed. thx

[2015-04-17 18:10] #1263 closed

[2015-04-17 20:46] Sfshaza commented on #1294
Fixed.

[2015-04-17 20:46] #1294 closed

[2015-04-17 20:47] Sfshaza commented on #1289
Fixed.

[2015-04-17 20:47] #1289 closed

[2015-04-17 23:20] sethladd opened #1322 "de-dupe content: point /logos over to github.com/dart-lang/logos"
We found it easier to put all logos, illustrations, etc into its own repo. We can strip the current /logos page down to something like "You can find all the logos, colors, fonts, etc in our Dart logos repo (https://github.com/dart-lang/logos)"

Thanks!

[2015-04-20 21:59] kwalrath opened #1325 "remove registration info from summit pages"
At least two pages have links to the registration site:

* https://www.dartlang.org/events/2015/summit/ has a big "REGISTER NOW" link.
* https://www.dartlang.org/events/2015/summit/attendee-information/ has a registration section that we could delete entirely.

There might be other links.

[2015-04-21 17:37] sethladd opened #1327 "Perf warning is out of date, we can remove from pub run docs"
In https://www.dartlang.org/tools/pub/cmd/pub-run.html it says "Note: In 1.6, pub run starts up slowly. This is significantly improved in the next release of the SDK."

I think we can remove this now :)

[2015-04-21 17:37] sethladd commented on #1327
cc @Sfshaza

[2015-04-22 01:27] nex3 commented on #1164
I just ran into [this issue](https://code.google.com/p/chromium/issues/detail?id=379813). There's a file that's missing from the content shell zips we provide that's necessary to run it on Windows.

[2015-04-24 19:39] zoechi commented on #1275
and the new `@whenPolymerReady`
https://www.dartlang.org/polymer/faq.html#q-how-do-i-initialize-an-app-if-i-have-a-main-function

[2015-04-25 00:10] kwalrath commented on #1325
https://chromiumcodereview.appspot.com/1106863002/

[2015-04-27 18:32] ricowind commented on #1164
I don't know why this was filed on the chromium bug tracker?
But I fixed this on bleeding edge now, it will hit dev channel soonish

Cheers,
Rico

On Wed, Apr 22, 2015 at 3:27 AM, Natalie Weizenbaum <
notifications@github.com> wrote:

[2015-04-27 19:22] sethladd commented on #1164
Maybe @srawlins can help add links to content_shell on the Download Index/Archive page? :)

[2015-04-27 19:40] ricowind commented on #1164
I don't think we should, as I said before, it is very hard to support
content shell, since it is not meant as a standalone tool (it's main
purpose is to test chromium)

Cheers,
Rico

On Mon, Apr 27, 2015 at 9:23 PM, Seth Ladd <notifications@github.com> wrote:

[2015-04-27 19:44] sethladd commented on #1164
If the new test runner doesn't need it, I would agree. Traditionally, it's been a good way to run headless tests.

If @kevmoo says we don't need content_shell anymore, that's cool.

[2015-04-27 23:37] nex3 commented on #1164
We *definitely* need `content_shell`. Users of `test` love it even in its current tough-to-find state, and it's really nice to be able to run tests headlessly—especially when running them frequently.

[2015-04-28 03:53] zoechi commented on #1164
+1

[2015-04-28 16:41] kwalrath commented on #1325
Fixed.

[2015-04-28 16:41] #1325 closed

[2015-04-29 16:36] Sfshaza commented on #1327
Fixed.

[2015-04-29 16:36] #1327 closed

[2015-04-29 17:30] kwalrath opened #1333 "Update Observatory page with how to run in/from IntelliJ/Webstorm"
Reported by jorg.janke@accorto.com at https://code.google.com/p/dart/issues/detail?id=23341.

Suggestion for https://www.dartlang.org/tools/observatory/get-started.html.

[2015-04-29 18:51] Sfshaza commented on #1318
Fixed.

[2015-04-29 18:51] #1318 closed

[2015-04-29 18:53] Sfshaza commented on #1313
Fixed.

[2015-04-29 18:53] #1313 closed

[2015-04-30 17:09] kwalrath opened #1334 "Update summit homepage with links to videos"
which are at: https://www.youtube.com/playlist?list=PLOU2XLYxmsIIQorIS8gagUiMau9S84vZV

[2015-05-03 21:21] Janamou opened #1335 "Server side code lab link available under "Server" menu"
Maybe would be nice to have new server side code lab linked also under "Server" menu on dartlang.org, similar like is Polymer code lab under "Browser" menu.

[2015-05-04 23:30] kwalrath commented on #1335
I've just added it. Thanks, @Janamou!

[2015-05-04 23:30] #1335 closed

[2015-05-04 23:31] #1334 closed

[2015-05-06 21:16] kevmoo opened #1338 "Update test articles to use new test package"
https://www.dartlang.org/articles/dart-unit-tests/
https://www.dartlang.org/articles/writing-unit-tests-for-pub-packages/

[2015-05-06 21:17] kevmoo commented on #1338
I think these articles could be merged into one. CC @nex3

[2015-05-07 22:11] Janamou opened #1339 "Doc comments article - code sample decoding bug"
There is a small bug with decoding into "<" character in the sample code for comment's code block
https://www.dartlang.org/articles/doc-comment-guidelines/#code-block

[2015-05-08 01:03] kwalrath commented on #1339
I need to check whether that was intentional... and if it is, say something about it. Thanks, Jana!

[2015-05-11 16:01] kwalrath opened #1343 "Add info about chocolatey (installer for Windows)"
Mac has homebrew, Linux has apt, and apparently Windows has chocolatey goodness. Details:

http://divingintodart.blogspot.co.uk/2015/05/chocolatey-dart-packages-for-windows-110.html

[code]

[2015-05-11 17:53] kevmoo opened #1344 "Remove Editor download from archive page"
https://www.dartlang.org/downloads/archive/

CC @ricowind

[2015-05-11 19:12] sethladd opened #1345 "Link to full installation instructions for eclipse + dart plugin"
This was really handy: http://dartrad.blogspot.co.uk/2015/05/build-your-own-dart-editor.html

Maybe link to it from https://www.dartlang.org/tools/eclipse-plugin/

[2015-05-12 00:49] nex3 opened #1347 "Stop recommending that users use "any" constraints"
From the [pub glossary](https://www.dartlang.org/tools/pub/glossary.html):

We've gradually come to the conclusion that this advice is wrong. Even for application packages, `any` constraints make it very hard for pub's version resolution to work without going exponential. We should stop recommending them, and mention that they should be avoided if possible on the [dependencies](https://www.dartlan

[2015-05-12 20:00] sethladd opened #1348 "Update Idiomatic Dart article's Future section to mention/use async/await"
https://www.dartlang.org/articles/idiomatic-dart/#futures

I assume we want to promote async/await ?

cc @munificent

[2015-05-12 22:48] donny-dont opened #1349 "Style guide should specify what should be exported by a library"
Its not clear from the style guide what is acceptable to export by a library.

As a contrived example lets say I have a package foo that uses a package bar.

    // lib/foo.dart
    import 'package:bar/bar.dart';

    class Foo {
      void doBar(Bar bar);
    }

If a client of Foo is likely to use doBar its not clear if there should be an `export 'package:bar/bar.dart' in foo.dart, or if the libr

[2015-05-13 00:17] seaneagan commented on #1348
Also style guide could mention preferring async-await to `then`.

[2015-05-13 13:50] kwalrath opened #1350 "Add link to DartPad from Get Started menu"

[2015-05-13 13:51] kwalrath opened #1351 "Add screenshot of DartPad to homepage"
Make the screenshot link to dartpad.dartlang.org.

[2015-05-13 17:43] munificent commented on #1349
This is probably a bit out of scope for the style guide, but I agree it would be useful to document somewhere.

(And, in this case, the answer is no, you don't generally need to export a library just because a type from it is in your public API.)

[2015-05-13 17:43] munificent commented on #1348
Yes! async/await FTW!

[2015-05-13 18:05] donny-dont commented on #1349
Yea just wasn't sure what the logic is for exporting other libraries that are outside your package. It seemed like in general it was a don't export anything outside your jurisdiction but there's no docs with guidelines anywhere.

[2015-05-18 17:53] kwalrath commented on #1347
It looks like the automatically generated text for package installs (e.g. https://pub.dartlang.org/packages/angular2) also needs to be updated. I've added an issue for this: https://github.com/dart-lang/pub-dartlang/issues/274

[2015-05-18 17:55] kwalrath opened #1354 "Use ^ everywhere"
There's no `^` in [Pub Versioning Philosophy](https://www.dartlang.org/tools/pub/versioning.html). We should also feature `^` in our samples and anywhere else pubspec.yaml contents are shown.

[2015-05-19 00:26] kwalrath opened #1355 "Update bug links everywhere"
Once Dart issues move from code.google.com to GitHub, update the remaining links to code.google.com or dart.googlecode.com, so that they link to URLs under https://github.com/dart-lang/sdk/issues.

[2015-05-19 20:23] kwalrath opened #1356 "Menu separators sometimes disappear"
When I reduce the magnification on my browser to one smaller than normal (Cmd-0, and then Cmd-minus), some of the menu separators disappear, leaving a gap.

Here's what the web menu turns into:

![web-menu-bad](https://cloud.githubusercontent.com/assets/2164483/7713041/d9d3b2dc-fe29-11e4-97fb-3b863eb0ba84.png)

It should look like this:

![web-menu-good](https://cloud.githubusercontent.com/assets/

[2015-05-19 20:54] #1262 closed

[2015-05-19 20:57] kwalrath opened #1357 "Everywhere: Remove Dart Editor"
By 1.11 we need to expunge all references to Dart Editor. We should use DartPad wherever possible and (where DartPad isn't sufficient) refer to other solutions, such as WebStorm.

[2015-05-19 22:19] kwalrath commented on #1351
https://chromiumcodereview.appspot.com/1147873002/

[2015-05-19 22:19] kwalrath commented on #1350
https://chromiumcodereview.appspot.com/1147873002/

[2015-05-19 23:21] kwalrath opened #1358 "Images shouldn't have external image icons"
You can't make an image an external link without getting that darned icon. We want the icon on text, but not on images.

The little icon bugged us so much that we removed the links from the images in https://www.dartlang.org/tools/. I'd love to add those links back.

Here's what the image looks like in text (the little box-with-arrow to the right of the link):
![ppirnj4gdfk](https://cloud.githubus

[2015-05-19 23:46] kwalrath opened #1359 "Update language spec page"
https://www.dartlang.org/docs/spec/ (1) says you can find the 1st edition spec somewhere that you can't and (2) should point to DEP docs.

[2015-05-20 00:28] #1351 closed

[2015-05-20 00:28] #1350 closed

[2015-05-20 22:59] Janamou opened #1360 "Observatory: Code coverage - Information update"
On Observatory's code coverage page is written that if I want to use a code coverage feature, I have to enable it. But I didn't have to (now I don't have the enable submenu on script, it works by default after clicking the "Refresh Coverage"). Was it updated or I am somehow lucky? :-)
https://www.dartlang.org/tools/observatory/code-coverage.html#enable-code-coverage

And finally maybe would be nic

[2015-05-22 20:57] sethladd opened #1364 "Documenting null-aware operators"
Hi,

null-aware operators are approved. analyzer supports them. dart2js is almost done. Maybe now is a good time to start a documentation plan.

Here's the most up-to-date definition: https://codereview.chromium.org//1031323002

The original proposal (no longer up to date): https://github.com/gbracha/nullAwareOperators

@stereotype441  has tests, which are probably really useful. I unfortunately d

[2015-05-22 20:58] sethladd commented on #1364
cc @kwalrath @Sfshaza

[2015-05-22 21:05] sethladd opened #1365 "Documenting .packages and how our runtimes find dependencies"
Hi,

With the .packages file well underway, we'd like to ask for documentation help. The .packages file proposal is really two things:

* a file format
* a workflow to find and resolve package: names

It would help developers if they understood how Dart apps find that definition of package: import names. And understood what this new file is, and what's being put into their app.

The proposal: http

[2015-05-22 21:05] sethladd commented on #1365
cc @kwalrath @Sfshaza

[2015-05-22 23:09] sigmundch commented on #1364
@stereotype441 created many many tests. Look for them under https://github.com/dart-lang/sdk/tree/master/tests/language. The test files would either start with 'if_null' or contain 'conditional_' in the name. For example:
* [if_null_behavior](https://github.com/dart-lang/sdk/blob/master/tests/language/if_null_behavior_test.dart) has tests for `a ?? b`
* [if_null_assignment_behavior](https://github

[2015-05-22 23:34] sethladd commented on #1364
Ack, yes, tests from @stereotype441 ! Thanks for the correction (fixed in the issue description)

[2015-05-24 16:17] sethladd opened #1367 "Link in unittest doc is 404, plus typo"
https://www.dartlang.org/articles/dart-unit-tests/

"Learn more about the aynchronous unit test functions from the unittest documentation."

The text "unittest documentation" links to a 404 page. I think it's supposed to link to http://www.dartdocs.org/documentation/test/0.12.2/index.html#test

cc @kevmoo as we probably also want to s/unittest/test

[2015-05-24 16:17] sethladd commented on #1367
cc @kwalrath

[2015-05-25 18:02] Georgehe4 opened #1368 "Visual bug on mobile (iPad) codelab"
Device/Browser: Using chrome on the iPad Air 2
https://www.dartlang.org/codelabs/darrrt/

When scrolling to the bottom of the page, the footer sticks in the view even after scrolling up.
In the picture attached, it is not possible to scroll up to remove the footer.

Becomes fixed after waiting for auto-scroll to complete.
![11354913_10202866066412564_723444120_n](https://cloud.githubusercontent.co

[2015-05-26 15:50] sethladd opened #1369 "Mention installing Dart via scoop for Windows users"
https://github.com/lukesampson/scoop/pull/372

unsupported by the Dart team, but looks really useful for our Windows users.

[2015-05-26 15:50] sethladd commented on #1369
cc @kwalrath @Sfshaza

[2015-05-26 17:01] kwalrath commented on #1367
cc @nex3

[2015-05-26 20:53] nex3 commented on #1367
All of the testing documentation on the main site are outdated—they were pretty outdated even before the new test runner, and now they're *really* outdated. I wonder if it might be easier to just redirect to the test package's README? It's pretty comprehensive.

[2015-05-26 20:59] Sfshaza commented on #1333
I am updating the Observatory docs but, in the mean time, launch your web app in Dartium. Then bring up the JavaScript console. Click the provided link and it opens Observatory in a new tab.

If you are running a standalone app, the Observatory link is right there in the WebStorm window.

[2015-05-26 20:59] kwalrath commented on #1367
Sure, we can do that. https://pub.dartlang.org/packages/test is the link?

[2015-05-26 21:16] nex3 commented on #1367
Yep!

[2015-05-27 11:40] ricowind opened #1372 "Fix archive download page"
We switched the archiving logic a bit, since we no longer have revision numbers (see also mail thread)

We need the dartlang.org page to fix its index page, I think it assumes integer values for the "directories" on gcs

[2015-05-27 13:57] daftspaniel commented on #1372
A predictable download URL and accessible list of available versions would be invaluable when producing Chocolatey packages. So, I need to answer the questions *a)* is there a new version of X and what is the new version number? and *b)* what is its download URL? This would help automate updating the package.

[2015-05-27 16:08] kwalrath commented on #1372
@srawlins can you help?

[2015-05-27 16:09] sethladd commented on #1372
Sam is out for a month.

[2015-05-27 18:21] sethladd commented on #1372
Hi @ricowind can you add the relevant details to this issue, so that engineer who picks up this issue can fix the page? For example, what exactly is or will break? What new assumptions should we make?

Thanks!

[2015-05-27 19:34] Sfshaza commented on #1367
Fixed.

[2015-05-27 19:34] #1367 closed

[2015-05-28 05:42] ricowind commented on #1372
Copy from mail

With the move git we have tweaked the archiving schema for the bots a bit. The main structure is the same, but instead of using svn commit revisions we use:

Bleeding edge:
Builders now archive to numberOfCommits[1] + 100000. The reason for the +100000 is that we want to keep the increasing sequence of numbers (svn revisions numbers where global across all our branches and third_pa

[2015-05-28 10:34] srawlins commented on #1372
Yeah, sorry, I'm out of town till late June.

On Thu, May 28, 2015, 7:42 AM Rico Wind <notifications@github.com> wrote:

[2015-05-28 15:38] sethladd commented on #1372
Thanks Rico!

[2015-05-28 17:21] Sfshaza commented on #1347
Fixed.

[2015-05-28 17:22] Sfshaza commented on #1256
Fixed.

[2015-05-28 17:22] #1256 closed

[2015-05-28 17:26] Sfshaza commented on #1354
I fixed this in /tools/pub, but I am leaving this bug open because I am sure that this exists in many other places.

[2015-05-28 20:52] jakemac53 commented on #1372
I can take a look at this, but need a bit more info/clarification. How exactly do the links need to change for the next release?

[2015-05-29 06:10] ricowind commented on #1372
Revision number -> version number, i.e., 1.11.0-dev.2.0 would be:
https://storage.googleapis.com/dart-archive/channels/dev/release/1.11.0-dev.2.0/sdk/dartsdk-linux-ia32-release.zip
(but now that we have 1.11.0-dev.3.0 build we will ship that)

[2015-05-29 14:06] jakemac53 commented on #1372
Ok, do you know if the format of this file is changing as well? https://storage.googleapis.com/dart-archive/channels/dev/release/1.11.0-dev.0.0/VERSION. Specifically, will it still have a revision entry? This is used today for the `(rev 45519)` text on the archive page, and if its gone I need to add some special handling for that.

Also just to confirm, the old entries should remain as is?

[2015-05-29 14:40] sethladd opened #1376 "Investigate a Dart-based solution to static doc generation"
Ideas and help wanted.

[2015-05-29 22:31] #1372 closed

[2015-06-01 21:49] kwalrath commented on #1347
We still have "any" in some places, such as https://www.dartlang.org/tools/pub/dependencies.html, so we need to scrub the site.

While we're at it... We should probably decide whether version numbers (and other stuff in pubspec.yaml) should be in quotation marks. It's not usually necessary (and quotes are ugly), but apparently having quotation marks can sometimes save you some heartache.

[2015-06-02 18:18] kwalrath opened #1378 "Remove all mentions of dart2dart"
It might go away after 1.11. Once 1.11 ships, we can feel free to remove mentions of dart2dart from the dart2js page and any other page it might be mentioned on.

[2015-06-05 17:57] kwalrath commented on #1347
Shams changed the tutorial samples not to use "any", but only [in the code repo](https://github.com/dart-lang/dart-tutorials-samples/pull/25). We'll probably need to update the tutorial text, as well.

[2015-06-06 02:02] Sfshaza commented on #1357
- Dart Editor is now removed from the client-side Pirate (darrrrt) code lab.
- The mobile page has also been reworked.

[2015-06-08 09:17] sethladd opened #1384 "Dart Essentials is a new book"
https://www.packtpub.com/web-development/dart-essentials

cc @Sfshaza

[2015-06-09 12:43] kevmoo opened #1385 "Update mac download instructions for brew"
I've added two flags to the `dart` formula (see below) and marked `dartium` as deprecated.

We should tell folks to just use `brew install dart [--with-content-shell] [--with-dartium]`

[code]

[2015-06-10 15:21] kwalrath commented on #1344
@jakemac53 could you possibly help with this? The Dart Editor links in the dev channel table are already broken.

[2015-06-10 15:59] kwalrath commented on #1385
CL is out for review by @kevmoo: https://chromiumcodereview.appspot.com/1173093002/

[2015-06-10 17:36] kevmoo commented on #1344
@jakemac53 I created https://pub.dartlang.org/packages/sdk_builds today

May be helpful here...

[2015-06-10 18:08] jakemac53 opened #1387 "Use `sdk_builds` package for archive page"
https://pub.dartlang.org/packages/sdk_builds should be a lot more stable than our current solution

[2015-06-10 18:09] jakemac53 commented on #1344
Ah, yes that looks like it would be useful, created https://github.com/dart-lang/www.dartlang.org/issues/1387 to track migrating to that

[2015-06-10 18:14] kevmoo commented on #1387
In my infinite free time...

[2015-06-10 21:08] kwalrath commented on #1385
Fixed with b30d4d3fc51e13016089dc69522b939bcb10c473. Deployed to the web.

[2015-06-10 21:09] #1385 closed

[2015-06-10 21:09] kevmoo commented on #1385
:metal:

[2015-06-11 09:11] sethladd opened #1389 "Please replace/remove editor screenshot from benchmarking page"
https://www.dartlang.org/articles/benchmarking/

Thanks!

[2015-06-11 09:11] sethladd commented on #1389
cc @kwalrath @Sfshaza

[2015-06-11 17:53] #1344 closed

[2015-06-11 17:54] kwalrath opened #1390 "Make sure downloads page works for 1.11 stable"
From @jakemac53's comment on #1388:

This may not work for stable 1.11.0 release. The stable build bots are currently still using code.google.com (not sure on details, @ricowind would know more). If I recall correctly they will be using github revisions for the 1.11.0 release but I can't remember for sure.

[2015-06-11 18:22] kwalrath commented on #1021
fixed by our rewrite a while ago

[2015-06-11 18:22] #1021 closed

[2015-06-11 18:23] kwalrath commented on #902
fixed by our download page rewrite a while ago

[2015-06-11 18:23] #902 closed

[2015-06-11 18:25] kwalrath commented on #760
Will not fix for Dart Editor docs, but I'm leaving this open in case it's an issue for Eclipse and we document the Eclipse plugin better.

[2015-06-11 18:26] kwalrath commented on #752
Will not fix for Dart Editor docs, but I'm leaving this open in case it's an issue for Eclipse and we document the Eclipse plugin better.

[2015-06-11 19:57] kevmoo commented on #1390
@kwalrath Weird. I'd expect if the dev builds were working fine, they would with stable as well. We'll have to see what Rico says.

[2015-06-11 20:14] Sfshaza commented on #1312
Fixed.

[2015-06-11 20:14] #1312 closed

[2015-06-12 01:08] kwalrath commented on #1357
The book's references to Dart Editor are expunged (or apologized for) in https://chromiumcodereview.appspot.com/1181063002/.

[2015-06-12 07:11] ricowind commented on #1390
Stable build bots is still using code.google.com, because our 1.10 branch is in svn, and we have no intention of moving it to github (which would be a _lot_ of work, what we branched of for 1.10 has a completely different layout than what is on github). There is special casing in the bots for this. When we branch for 1.11 stable(soonish) we will move the bots to use github and get rid of the hacks

[2015-06-12 10:41] kevmoo commented on #1390
@kwalrath I think we're good here then

[2015-06-12 10:41] #1390 closed

[2015-06-12 16:05] Sfshaza commented on #1333
Fixed.

[2015-06-12 16:05] #1333 closed

[2015-06-12 16:06] Sfshaza commented on #1360
Fixed.

[2015-06-12 16:06] #1360 closed

[2015-06-12 16:07] kwalrath commented on #1390
OK, sounds good.

[2015-06-12 16:07] Sfshaza commented on #1315
Fixed.

[2015-06-12 16:07] #1315 closed

[2015-06-12 18:12] Sfshaza commented on #1389
Fixed.

[2015-06-12 18:12] #1389 closed

[2015-06-13 07:52] Sfshaza commented on #1378
Fixed.

[2015-06-13 07:52] #1378 closed

[2015-06-15 07:07] sethladd commented on #1389
Thanks!

[2015-06-15 15:26] Sfshaza commented on #1354
I fixed this in the Dart Tutorial Samples repo.

[2015-06-15 15:34] Sfshaza commented on #1354
Note to self. Grep:  find . -name "*markdown" | xargs egrep ":[ *]any" > ~/t4

[2015-06-16 07:12] sethladd opened #1392 "Please add our Slack channel to our Support page"
To sign up: https://dartlang-slack.herokuapp.com/﻿
To chat: https://dartlang.slack.com/

Let's mark as "unofficial"

Thanks!

[2015-06-17 08:19] sethladd opened #1393 "Please add the developer summit videos or playlist to /slides"
The /slides page has a list of presentations, videos, and slides. The most recent ones are still quite useful because developers often take inspiration and slides from this page.

If you feel the very old presentations are no longer useful, feel free to remove them.

Could we link our developer summit videos to this page?

Thanks!

[2015-06-17 08:20] sethladd commented on #1393
cc @kwalrath @Sfshaza

[2015-06-17 08:20] sethladd commented on #1392
cc @kwalrath @Sfshaza

[2015-06-17 11:02] PascalPrecht opened #1394 "version file in SDK causes FormatException"
I installed the latest and greatest dart-sdk by downloading it from the website. After installing and configuring it, I'm getting this error:

[code]

There's a related issue in the Angular project, which is where I experienced that issue https://github.com/angular/angular/issues/2585

[2015-06-17 11:19] sethladd commented on #1394
Can you please file this issue over at: https://github.com/dart-lang/sdk/issues ?

(this repo is just for the web site)

Thanks!

[2015-06-17 11:19] #1394 closed

[2015-06-17 12:03] zoechi commented on #1394
I pointed @PascalPrecht here, seems I misunderstood the question, sorry!

[2015-06-17 12:18] sethladd commented on #1394
No worries.

[2015-06-17 22:13] kwalrath opened #1395 "add "deprecated"/"obsolete" page style"
We have some pages that are around for historical/practical reasons but that we don't plan to update (at least not any time soon). A page style like the one in https://cloud.google.com/appengine/docs/python/googlestorage/ might help make these pages' status clearer.

An example of such a page is https://www.dartlang.org/codelabs/polymer/, which we're keeping (for now) because it's visited fairly f

[2015-06-18 02:36] Sfshaza opened #1396 "Delete or update Polymer codelab."
The Polymer.dart code lab ( https://www.dartlang.org/codelabs/polymer/ ) is now out of date on two counts:

1. It's based on an early version of Polymer.dart which is based on a pre-1.0 version of Polymer. An updated version of Polymer.dart based on Polymer 1.0 is in the works.

2. It uses Dart Editor, which is retired as of 1.11.

This code lab needs to either be completely reworked or removed fr

[2015-06-18 21:06] kwalrath commented on #1349
Lasse, Florian, Natalie, Bob... they have this kind of knowledge. It'd be good to have a library design guide of some sort.

[2015-06-18 21:08] kwalrath commented on #1348
Perhaps just delete this section, since using the Future API directly isn't idiomatic any more.

[2015-06-18 21:11] kwalrath commented on #1266
You don't need to split the URI in a directive to meet the 80-character limit. Do, however, put show/hide on a new line if necessary.

[2015-06-18 21:15] kwalrath commented on #635
License probably must go at the top, for legal reasons. Code must go after imports, for language reasons. We don't need to specify those.

[2015-06-18 21:15] #635 closed

[2015-06-18 21:31] kwalrath opened #1397 "Update style guide to reflect dartfmt: how to run it and what it does"
These are my to-do notes from a discussion with @munificent.

Mention dartfmt—how to run it, what it does—at least once (top of page? white space?)

DO indent **block bodies** two spaces.
-> DO indent **bodies** two spaces
clarify that this includes class, method, function bodies, list bodies, map bodies (basically anything with curlies or square brackets). formatter calls all these “literal bodie

[2015-06-18 22:26] kwalrath commented on #873
Closing because we're no longer publishing these graphs.

[2015-06-18 22:26] #873 closed

[2015-06-18 22:27] kwalrath commented on #690
Closing because /performance/ has changed.

[2015-06-18 22:27] #690 closed

[2015-06-18 22:27] kwalrath commented on #797
Closing because the scope of /performance/ has changed.

[2015-06-18 22:27] #797 closed

[2015-06-18 22:27] kwalrath commented on #869
Closing because the scope of /performance/ has changed.

[2015-06-18 22:27] #869 closed

[2015-06-18 22:30] kwalrath opened #1398 "/performance/ should talk about ways to increase performance of generated JavaScript"
Currently this information is under https://www.dartlang.org/tools/dart2js/#helping-dart2js-generate-efficient-code. This info is likely to change, and when it does... We should probably include this info in/under /performance/.

cc @sigmundch

[2015-06-18 22:31] donny-dont commented on #1349
Article would be great too.

[2015-06-18 23:23] kwalrath opened #1399 "add "newline after statement" rule to style guide"
You need a newline after every ';' or block—should be covered by "DO add a newline after every statement."

This is so basic that we somehow missed saying it.

cc @munificent

[2015-06-19 07:40] sethladd commented on #1398
Great idea! To do this quickly, you could add a FAQ entry to /performance.

[2015-06-19 11:49] sethladd opened #1400 "Document null-aware operators"
Looks like we're really close to finishing null-aware operators. It might be time to draft up a doc plan for the new feature.

The VM just marked this as fixed: https://github.com/dart-lang/sdk/issues/23455

Thanks for the help!

[2015-06-19 16:28] Sfshaza commented on #1347
Note to self. Used cmd:

find . -name "*markdown" | xargs egrep ":[ *]any" > ~/t4

[2015-06-19 16:57] Sfshaza opened #1401 "Delete or update the Polymer tutorial"
The Polymer.dart tutorial ( https://www.dartlang.org/docs/tutorials/polymer-intro/ ) is now out of date on two counts:

It's based on an early version of Polymer.dart which is based on a pre-1.0 version of Polymer. An updated version of Polymer.dart based on Polymer 1.0 is in the works.

It uses Dart Editor, which is retired as of 1.11.

This tutorial needs to either be completely reworked or remo

[2015-06-22 21:51] Sfshaza opened #1403 "Forms tutorial uses out-of-date Slambook example"
The slambook example is used in the forms tutorial:
https://www.dartlang.org/docs/tutorials/forms/

The example is not incorrect, but it would be nice if it were updated to use async/await. The tutorial text would then also need updating.

[2015-06-24 12:28] whesse opened #1405 "Download link for dev branch api docs in JSON format is broken"
It uses the git hash of the revision, instead of the version number, in the link to google cloud storage.

[2015-06-24 16:35] kwalrath commented on #1405
@jakemac53 or @kevmoo can you fix this?

[2015-06-24 16:35] jakemac53 commented on #1405
where does this link appear?

[2015-06-24 16:37] kwalrath commented on #1405
If you go to https://www.dartlang.org/downloads/archive/ and then click the last link in the Dev table [JSON-formatted API documentation](https://storage.googleapis.com/dart-archive/channels/dev/release/e371231de07e5830f634618ff1eb5e1bfc3d6b94/api-docs/dart-api-docs.zip), you see the problem.

[2015-06-24 17:01] kevmoo commented on #1405
https://codereview.chromium.org/1203143003/

[2015-06-24 17:15] Sfshaza commented on #1357
Dart Editor has been removed! Pages will be pushed when 1.11 goes live.

[2015-06-24 17:15] #1357 closed

[2015-06-24 17:17] Sfshaza commented on #1258
This has been fixed!

[2015-06-24 17:17] #1258 closed

[2015-06-24 17:29] Sfshaza opened #1406 "Use DartPad in more places"
Tutorials:

* [x] Adding DOM Elements - tutorial
* [x] Removing DOM Elements - tutorial
* [x] Futures - tutorial
* [x] Streams -- tutorial
* [x] FetchData -- tutorial
  (Rewrote its-all-about-you to not use Polymer, as DartPad can't yet load packages. Also moved the portmanteaux.json file to dartlang.)

We'd love to use it in
Command line, but it uses args. (It would be nice if DartPad worked with

[2015-06-24 17:43] #1405 closed

[2015-06-24 20:54] Sfshaza commented on #1259
Fixed as part of the 1.11 updates.

[2015-06-24 20:54] #1259 closed

[2015-06-24 20:56] Sfshaza commented on #828
Wow, I love it when a bug obsoletes itself! No longer using Dart Editor on dartlang.org.

[2015-06-24 20:56] #828 closed

[2015-06-24 20:58] Sfshaza commented on #1212
We made the decision not to do this for the pirate code lab as it adds complexity. We (as in, Jana) did add material design to the client in the server code lab.

[2015-06-24 20:58] #1212 closed

[2015-06-24 21:05] Sfshaza commented on #1306
Fixed.

[2015-06-24 21:05] #1306 closed

[2015-06-24 21:16] nex3 commented on #1349
This is true *except* when the library is in your package. You should make sure that any types defined in package-private libraries but used in your public API are exported as part of that public API.

[2015-06-24 21:37] Sfshaza commented on #1400
Duplicate of https://github.com/dart-lang/www.dartlang.org/issues/1364

closing.

[2015-06-24 21:37] #1400 closed

[2015-06-24 21:44] Sfshaza commented on #1338
These articles have been deleted and the links now redirect to the readme for the new test page. We need some new test docs...

[2015-06-24 21:46] Sfshaza commented on #1348
We don't talk about APIs in the style guide. Will take care of the article.

[2015-06-24 21:57] Sfshaza commented on #1384
Fixed.

[2015-06-24 21:57] #1384 closed

[2015-06-24 22:00] Sfshaza commented on #1338
I'm going to close this and we can file a new bug when we decide what docs to add.

[2015-06-24 22:00] #1338 closed

[2015-06-24 22:13] kwalrath commented on #1384
https://codereview.appspot.com/248350043/

[2015-06-24 22:17] kwalrath commented on #1306
https://codereview.appspot.com/242620043/

[2015-06-24 22:30] Sfshaza commented on #1359
https://codereview.appspot.com/248380043/

[2015-06-24 22:35] kwalrath commented on #1398
https://chromiumcodereview.appspot.com/1205153003

[2015-06-24 22:37] Sfshaza commented on #1345
https://codereview.appspot.com/248360043/

Fixed.

[2015-06-24 22:37] #1345 closed

[2015-06-24 22:43] Sfshaza commented on #1348
https://codereview.appspot.com/248370043/

Fixed.

[2015-06-24 22:43] #1348 closed

[2015-06-24 23:45] Sfshaza commented on #1359
Fixed.

[2015-06-24 23:45] #1359 closed

[2015-06-25 17:38] #1398 closed

[2015-06-29 16:17] Sfshaza commented on #1067
I'm going to close this bug.
The new server-side code lab does use Material Design.
The Darrrt code lab was recently updated. We aren't using MD because it adds complexity to the example.
The polymer code lab is, basically, defunct, as polymer.dart is going through major revisions to track the changes in Polymer1.0.

[2015-06-29 16:17] #1067 closed

[2015-06-29 21:39] Sfshaza commented on #1355
Fixed.

[2015-06-29 21:39] #1355 closed

[2015-06-29 21:48] Sfshaza commented on #1142
We now consider dartbug.com to be an OK link when showing a visible bug link for Dart. I have updated/removed all links that led to code.google.com.

[2015-06-29 21:48] #1142 closed

[2015-06-29 21:56] Sfshaza commented on #1104
I updated the spec page last week - we now link to the 3rd edition of the spec. This is no longer an issue. Closing.

[2015-06-29 21:56] #1104 closed

[2015-06-29 22:03] Sfshaza commented on #1070
Not by me, but at some point this was fixed.

[2015-06-29 22:03] #1070 closed

[2015-06-29 22:10] Sfshaza commented on #845
Hey, Martin!

I'd be happy to add your book to our site! But I don't speak German. I can grab the image from the Play store, but can you provide me with some text?

thx

[2015-06-29 22:15] Sfshaza commented on #937
We will soon be documenting a new implementation of polymer.dart. Closing this out.

[2015-06-29 22:15] #937 closed

[2015-06-29 22:19] Sfshaza commented on #928
This has been fixed. The /articles/web-ui/ link redirects you to
https://www.dartlang.org/polymer/upgrading-to-polymer-from-web-ui.html

Closing.

[2015-06-29 22:19] #928 closed

[2015-06-30 17:20] Sfshaza commented on #1049
This page has been removed and now redirects to: https://www.dartlang.org/polymer/upgrading-to-polymer-from-web-ui.html

Closing.

[2015-06-30 17:20] #1049 closed

[2015-06-30 23:57] Sfshaza commented on #1308
Fixed.

[2015-06-30 23:57] #1308 closed

[2015-07-01 00:09] Sfshaza commented on #1406
When ready, convert the DartPad in the optional types article to be embedded.

[2015-07-01 00:10] Sfshaza commented on #1393
Mostly done, just hoping to get my hands on the graphics - emails out to the folks who created the graphics.

[2015-07-01 01:04] Sfshaza commented on #1392
Fixed.

[2015-07-01 01:04] #1392 closed

[2015-07-01 02:41] ReeseSys commented on #1392
For me, the sign up link always results in:

[code]

[2015-07-01 15:47] Sfshaza commented on #843
Just an FYI. We now use this package for testing: https://pub.dartlang.org/packages/test

The previous two articles on testing have been taken down, but we do need better docs.

[2015-07-01 17:16] kwalrath commented on #1392
It was working for me yesterday, but I'm getting that now, too, when I click the link above in the bug  (https://dartlang-slack.herokuapp.com/%EF%BB%BF). The "register" link in https://www.dartlang.org/support/, is fine, though. It links to https://dartlang-slack.herokuapp.com, perhaps with a real slash at the end (though it isn't necessary).

[2015-07-02 00:17] Sfshaza commented on #1406
- The streams tutorial is done and going through reviews. (Kathy has reviewed it but I want an engineering review.)
- The add-elements tutorial is done and Kathy lgtm'd it.
- The remove-elements tutorial is done but not yet reviewed.

[2015-07-02 16:27] Scorpiion opened #1408 "Update "Futures and Error Handling" article to include await/async examples"
I think it would be nice to see one or more examples of error handling with async/await.

The try/catch block for example with async/await is very familiar for developers with many different programming language backgrounds.

Article: https://www.dartlang.org/articles/futures-and-error-handling/
_Note: The article was written before async/await was added and has no mention at all of it at this poi

[2015-07-06 16:33] sethladd commented on #1393
Thanks for your help!

[2015-07-07 22:08] Sfshaza commented on #1365
Doc plan: https://docs.google.com/spreadsheets/d/1fI3CJVpZLa2nLM0M0Wt9vh2VqZ4UB4RNAxF3s8ChyxM/edit#gid=0

[2015-07-08 10:44] Janamou opened #1410 "Darrrt code lab - no mention about compilation to JavaScript"
Hi,

I went through the updated version of the code lab. And at the end there is section "What's next?" but there is no information about the fact that when I want to run the application in browser or deploy it somewhere I need to compile it to JavaScript.

I often get questions from people about "what to do next to deploy it somewhere" so I think that something (better how to compile it from comm

[2015-07-08 13:47] Sfshaza commented on #1410
Once the export function in DartPad is fully functioning, then you can export it (along with the extra boilerplate code), and then compiling it to JS is easier. This info does need to be added.

[2015-07-08 22:39] sethladd opened #1412 "Doc update request: publishing a package with dot files requires a .git dir"
Reading through https://www.dartlang.org/tools/pub/publishing.html and the section "What files are published?"

Can we add a note that says something like: your package must have a `.git` folder at the root of your package if you want .gitignore files to trigger the ability to include dot files when uploading your package?

As written, it sounds like all that you need is the presence of .gitignore

[2015-07-08 22:39] sethladd commented on #1412
cc @Sfshaza

[2015-07-09 21:13] Janamou commented on #1410
Yes, I understand. But lots of people are starting with this code lab without any knowledge or information about Dart. So maybe they should know that something like compilation exists?

[2015-07-09 21:57] sethladd commented on #1410
+1

Want to send over a patch to at least mention and point to more info?

[2015-07-10 05:00] Sfshaza commented on #1410
Yup, can do!

On Thu, Jul 9, 2015 at 2:58 PM, Seth Ladd <notifications@github.com> wrote:

[2015-07-10 16:35] sethladd commented on #1343
Hi @Sfshaza is this something you can look at for us? We'd love to make Chocolatey easy for our users to discover.

[2015-07-10 21:01] skybrian opened #1413 "documentation about caret syntax is inconsistent for versions below 1.0"
In this section:
https://www.dartlang.org/tools/pub/dependencies.html#dependency-sources

dependencies:
  transmogrify: ^0.4.0

"This example, which uses caret syntax, specifies that your package depends on a hosted package named “transmogrify” and will work with any version from 0.4.0 to 1.0.0 (but not 1.0.0 itself)."

But a later section says it's different::
https://www.dartlang.org/tools/pub/d

[2015-07-10 21:09] Sfshaza commented on #1413
That is, indeed, a bug. The second example, that is.

[2015-07-10 23:01] Sfshaza commented on #1412
Fixed and then backed out:
https://github.com/dart-lang/pub/issues/1296

[2015-07-10 23:01] #1412 closed

[2015-07-13 17:52] ericmok opened #1414 "Add a code sample above the fold for homepage"
Currently, the homepage has some Dart code examples located in a carousel under the heading "Dart is new, yet familiar" - but it is located underneath the fold.

I wonder if the homepage would be more immediately appealing to newbies if a friendly code example was added above the fold. For example, perhaps it could be added to the hero container within eye-shot of the "Get Dart" button.

Some exam

[2015-07-13 20:32] sethladd commented on #1414
Agreed!

[2015-07-13 21:05] Sfshaza commented on #1343
Fixed and live.

[2015-07-13 21:05] #1343 closed

[2015-07-14 16:22] Sfshaza commented on #1393
Done.

[2015-07-14 16:22] #1393 closed

[2015-07-14 23:02] Sfshaza commented on #1410
Fixed.

[2015-07-14 23:02] #1410 closed

[2015-07-15 04:43] Sfshaza commented on #944
Fixed.

[2015-07-15 04:43] #944 closed

[2015-07-15 21:40] Sfshaza commented on #1413
Fixed: https://codereview.appspot.com/255960043/

[2015-07-15 21:40] #1413 closed

[2015-07-16 16:19] Sfshaza commented on #1364
Seth's excellent blog post:
http://blog.sethladd.com/2015/07/null-aware-operators-in-dart.html

Here are some affected files:

on dartlang (everything, except for the language tour, is minor):
language tour, /docs/dart-up-an-running/ch02.html
library tour, /docs/dart-up-and-running/ch03.html
/articles/converters-and-codecs/
/articles/idiomatic-dart/
/articles/native-extensions-for-standalone-dart-

[2015-07-19 00:20] skybrian opened #1415 "broken link to args package"
https://www.dartlang.org/docs/tutorials/cmdline/#cmd-line-args

Found in: "The args package, a software bundle that contains"

[2015-07-21 15:28] Sfshaza commented on #1415
Fixed.

[2015-07-21 15:28] #1415 closed

[2015-07-21 19:42] Sfshaza commented on #1406
The following tutorials now use DartPad (the Streams tutorial is a complete rewrite):

https://www.dartlang.org/docs/tutorials/add-elements/
https://www.dartlang.org/docs/tutorials/remove-elements/
https://www.dartlang.org/docs/tutorials/streams/

[2015-07-24 16:14] skybrian opened #1416 "dartanalyzer command line options are out of date"
On this page: https://www.dartlang.org/tools/analyzer/

For 1.11, here's what it prints out:
skybrian-macbookpro:~ skybrian$ dartanalyzer
Usage: dartanalyzer [options...] <libraries to analyze...>
-b, --batch                        Run in batch mode.
    --dart-sdk                     The path to the Dart SDK.
-p, --package-root                 The path to the package root. The flag package-root i

[2015-07-24 16:19] sethladd commented on #1416
Thanks for the report!

[2015-07-24 16:20] sethladd commented on #1416
cc @Sfshaza

[2015-07-24 16:40] Sfshaza commented on #1416
Thanks for this report, Brian! Keeping docs in sync is often a challenge. Some form of autogeneration would be great. Failing that, a process for keeping docs in the loop.

[2015-07-26 12:33] dvorapa opened #1417 "Guidelines for Doc Comments request"
Guidelines for Doc Comments article should contain some information about linking to the library from the library itself. Example from the dart:html Document class documentation:

    /// Each web page loaded in the browser has its own [Document] object, which is
    /// typically an [HtmlDocument].

The `[Document]` links to the same documentation page, where it is (the link goes nowhere).
See ht

[2015-07-27 22:03] Sfshaza commented on #1416
Fixed.

[2015-07-27 22:03] #1416 closed

[2015-07-28 15:56] sethladd opened #1418 "Language Tour doesn't mention that generics can extend"
Could we have an example and explanation for:

`class Foo<T extends Bar>` ?

Thanks!

(just talked to someone who didn't know we could do this)

[2015-07-28 15:56] sethladd commented on #1418
cc @kwalrath

[2015-07-28 16:19] kwalrath commented on #1418
I didn't know we could do this, either. :/

[2015-07-28 19:52] skybrian commented on #1103
I tried reading the dart-misc thread and it seems unclear what to fix.

As a start, here's a bit that I think needs fixing:

"Once a Dart function starts executing, it continues executing until it exits." It seems like it should be something like:

Once a regular Dart function starts executing, it continues until it exits. (Functions with the "async" keyword are different and we'll explain that la

[2015-07-28 19:57] skybrian commented on #1165
Here's another bit needing updating: "Currently, the microtask queue contains only entries originating from within Dart code, but we expect the web implementation to plug into the browser microtask queue."

The related issue was closed:
https://github.com/dart-lang/sdk/issues/13433

But it's not clear to me what the resolution was. Are Dart and JavaScript microtasks put on the same queue now? Does

[2015-07-28 20:42] kwalrath commented on #1103
That's a good start, thanks @skybrian.

[2015-07-28 21:27] skybrian commented on #745
Are zones done? Perhaps this is obsolete:

"Note: You can also use Timer to schedule tasks, but if any uncaught exceptions occur in the task, your app will exit. Instead, we recommend Future, which is built on top of Timer and adds features such as detecting task completion and responding to errors."

[2015-07-29 19:33] sethladd opened #1421 "Dartium path shown on "brew upgrade dart" is incorrect"
_From @sanfordredlich on July 29, 2015 15:59_

Hi, it shows: "/usr/local/opt/dart/Chromium.app" when it should be "/usr/local/opt/dartium" because that's how the symlinks are actually set up. See output below:

| ~ @ Sanfords-MBP (sanford)
| => brew upgrade dart
==> Upgrading 1 outdated package, with result:
dart-lang/dart/dart 1.11.1
==> Upgrading dart-lang/dart/dart
==> Downloading https://stora

[2015-07-29 19:33] sethladd commented on #1421
Thanks for the report!

[2015-07-29 21:16] kwalrath commented on #1421
This is a tool change, not a dartlang.org change, right @sethladd?

[2015-07-29 21:20] sethladd commented on #1421
We should this path on the "install dart sdk for mac" page, under the "Installation locations" section.

(note: I haven't verified that the suggested path in the issue is correct. It's been a while since I've used Dartium :)

[2015-07-29 21:22] kwalrath commented on #1421
I'd rather not show paths, since I tell people how to get it and the path might conceivably change...

[2015-07-29 21:22] sethladd commented on #1421
The paths were there before I made my tweaks. Feel free to remove the paths :)

[2015-07-29 21:23] kwalrath commented on #1421
To be clear, the page doesn't show paths. I think the user was complaining about paths displayed by the tool.

[2015-07-29 21:54] sethladd commented on #1421
Maybe we're talking about two different things?

![screen shot 2015-07-29 at 2 54 14 pm](https://cloud.githubusercontent.com/assets/5479/8970985/b6143e74-3601-11e5-80bf-f62f72b65aa8.png)

Are these paths accurate?

[2015-07-29 22:27] kwalrath commented on #1421
They're accurate for my installation, but mine is probably not the cleanest setup. Perhaps someone who's just installed for the first time could verify?

[2015-07-29 23:47] Sfshaza commented on #1406
The following tutorial now uses embedded DartPad:
https://www.dartlang.org/docs/tutorials/fetchdata/

Also updated the tutorial home page and the forms tutorial to search for a more relevant string ('async').

[2015-07-30 19:42] sethladd opened #1422 "Request for docs: Observatory's new anext debugger feature"
Observatory has a hot new debugger feature: `anext` for async debugging. The feature is currently turned on.

We'd much appreciate some help adding this to the Observatory docs, at least enough to drive awareness of the feature.

@rmacnak-google has the details.

Thanks!

[2015-07-30 19:42] sethladd commented on #1422
cc @Sfshaza

[2015-07-30 22:34] kevmoo opened #1423 "Poor documentation for native extensions"
_From @austincummings on July 30, 2015 17:34_

The [documentation page for native extensions](https://www.dartlang.org/articles/native-extensions-for-standalone-dart-vm/) is severely lacking in detail.

There is no mention of why library handler error's happen. There is also no mention of how to tie a C++ object to a Dart object. The example code is out of date with what's in the repo. There is ba

[2015-07-30 22:34] kevmoo commented on #1423
We might want to transfer this to the dartlang.org repo issue tracker...

[2015-08-05 18:00] kwalrath opened #1424 "Site search is broken"
/cc @lukechurch

Today when I tried to search for something on www.dartlang.org ('async', for example), the results page was blank, except for the dartlang.org header and footer.

I don't think we've changed anything, so I wonder if there's a custom search engine outage.

![search-is-blank](https://cloud.githubusercontent.com/assets/2164483/9093433/fff4fd12-3b60-11e5-8007-bbd2d79b7621.png)

[2015-08-05 18:23] kwalrath commented on #1424
It's an http vs. https thing.

On my Mac, it works in Safari but not in Chrome or Firefox. Opera gives a content blocked warning in the URL bar, with an option to click to load the content. Here's what the console says in Chrome:

[2015-08-05 20:37] kwalrath commented on #1424
The fix is up on www.dartlang.org.

[2015-08-05 20:37] #1424 closed

[2015-08-10 16:56] sethladd opened #1426 "Request: document that pub run can now toggle checked mode"
Just landed! Should be in for 1.12.

Can we add a note to our docs for this? Thanks!

[2015-08-10 16:56] sethladd commented on #1426
cc @Sfshaza @munificent

[2015-08-10 17:13] bmsleight opened #1427 "www.dartlang.org/src/site/codelabs/darrrt/index.markdown Indentation Line 790"
Line 790, Indentation incorrect, two extra spaces.

Thanks for the tutorial.   BMS

[2015-08-10 17:43] kwalrath opened #1428 "Update samples & text to have <script> tags in <head>"
Status:

* [x] Tutorials
* [ ] Front page samples
* [ ] Book
* [x] Code labs
* [ ] ... (add other places here)

Details:

Here's what we plan to use for all dartlang.org samples, built-in DartPad samples, and Stagehand templates:

[code]

We made this change because DartPad shows only what's inside the `<body>`, and it automatically adds `<script>` tags to the `<head>`. Also, we wanted consistency

[2015-08-10 20:22] sethladd opened #1429 "Request: updating website for new dartdoc"
Hi!

The new dartdoc is ready for a mention on our website! :)

Can you help us remove dartdocgen and replace it with dartdoc?

https://www.dartlang.org/tools/ - replace dartdocgen with dartdoc
https://www.dartlang.org/tools/dartdocgen/ - redirect to /tools/dartdoc and simplify the page

I'm happy to help author the /tools/dartdoc page if that helps.

Thanks!

[2015-08-10 20:22] sethladd commented on #1429
cc @Sfshaza @keertip

[2015-08-11 09:23] zoechi opened #1431 "Explain `publish_to`"
https://www.dartlang.org/tools/pub/pubspec.html doesn't explain `publish_to`

See
- http://stackoverflow.com/questions/25131100
- https://groups.google.com/a/dartlang.org/forum/#!topic/bugs/vvIIBlAbYp4

[2015-08-11 12:42] Sfshaza opened #1432 "GetStarted tutorial should acknowledge "dart foo.dart""
The Get Started tutorial jumps right into building apps with pub and using a pubspec. Maybe start out by showing "dart foo.dart" and then say that an app with any complexity should use a pubspec and demonstrate that.

This feedback is from @mit-mit

[2015-08-11 16:16] sethladd opened #1433 "Request: updating the pub package layout docs"
https://www.dartlang.org/tools/pub/package-layout.html

On this page, we see a nice layout of a canonical pub package.

Starting with 1.12-dev there is a `.packages` file. We should show this file, and explain what it is.

We might also want to add a note next to the double asterix, something like "These symlinks are not generated if you use `--no-package-symlinks`, if using Dart 1.12-dev or great

[2015-08-11 16:16] sethladd commented on #1433
cc @Sfshaza @munificent

[2015-08-11 23:27] Sfshaza commented on #1428
I've taken care of codelabs and tutorials.

[2015-08-11 23:28] Sfshaza commented on #1427
Fixed. Thanks for the report!

[2015-08-11 23:28] #1427 closed

[2015-08-12 13:30] mit-mit opened #1434 "Mention Atom as an editor option on the tools page"
There is a Dart plugin for Atom:
https://github.com/dart-atom/dartlang/

It would be good to mention this as an editor option on the tools page:
https://www.dartlang.org/tools/

[2015-08-12 15:07] Sfshaza commented on #1434
@devoncarew, is this ready to be added?

[2015-08-12 15:14] sethladd commented on #1434
yuppers!

[2015-08-12 15:15] devoncarew commented on #1434
Sgtm as well

[2015-08-12 15:29] sethladd opened #1435 "Request to move Eclipse plugin down to Editors on tools page"
Thanks!

[2015-08-12 16:48] Sfshaza commented on #1026
I sent Chris a CL 6 months ago to add this to the tools page but it wasn't stable yet. I just checked with him again and it's still not stable. Stay tuned...

[2015-08-12 17:15] Sfshaza commented on #1435
Fixed.

[2015-08-12 17:15] #1435 closed

[2015-08-12 17:17] Sfshaza commented on #1434
Fixed.

[2015-08-12 17:17] #1434 closed

[2015-08-12 17:24] cbracken commented on #1026
Yep - until the observatory coverage API is marked stable, I'm not convinced we can do the same with the coverage package.

[2015-08-13 00:36] sethladd opened #1436 "Request to add link to privacy policy"
Hi,

Can we add the following links to the bottom of every page?

Privacy Polymer (http://www.google.com/intl/en/policies/privacy/)

Terms of Service (/tos.html)

The tos.html should contain:

[code]

And link Terms of Service to https://www.google.com/intl/en/policies/terms/ and Privacy Policy to https://www.google.com/intl/en/policies/privacy/

Thanks!!

[2015-08-13 00:36] sethladd commented on #1436
cc @kwalrath

[2015-08-13 06:34] mit-mit commented on #1434
Thanks!

[2015-08-13 21:10] munificent commented on #1426
+1!

[2015-08-14 00:02] Sfshaza commented on #1436
Fixed.

[2015-08-14 00:02] #1436 closed

[2015-08-17 12:34] anders-sandholm opened #1438 "Make ToS and PP links larger"
Would be good to make the font for ToS and PP a bit larger.

[2015-08-17 17:04] GeKorm opened #1439 "Windows Installer for SDK + Dartium"
From dart-lang/sdk#23818

I made an installer for 64-bit stable and dev versions. It downloads and installs the latest SDK as well as Dartium. It adds /bin to the PATH and /dart-sdk to the DART_SDK environment variables.

I can maintain an offline installer as well as 32-bit versions. I'm also working on including an updater. Currently, the installer also works as an updater if you point to an exi

[2015-08-17 17:40] sethladd commented on #1439
Probably somewhere here? https://www.dartlang.org/downloads/windows.html

(we'd have to make it clear this is unsupported, but happy to drive traffic over.)

[2015-08-17 18:22] GeKorm commented on #1439
Okay, how about something like this ![this](http://i.imgur.com/Ge464om.png)
___
To prevent overcrowding that page, and because the installer is quite easy and familiar to use, I don't think instructions need to be included there. I'll include instructions in the [linked page](http://www.gekorm.com/dart-windows/) (I've added a subheading in addition to the disclaimer to clearly state this is unoffi

[2015-08-17 18:23] sethladd commented on #1439
Even better! Thanks for checking into it.

@Sfshaza thoughts?

[2015-08-17 21:39] Sfshaza commented on #1439
Hey, GeKorm!

Thanks for doing this! Let me create a branch and I'll share it with you. Have any others tested it? (I don't have a Windows machine.)

[2015-08-17 22:16] GeKorm commented on #1439
No bug reports yet, I've personally tested on 2 Win 10 64-bit machines and a Win 7 64-bit.

I've encountered no errors using this with WebStorm, running apps and Dart command line tools like Pub. No errors when upgrading. No leftovers with uninstallation. I've tried to break it but so far it seems pretty robust.

I haven't released a 32-bit version because I have nowhere to test it yet.

[2015-08-18 17:24] Sfshaza commented on #1439
It's now live.

[2015-08-18 17:24] #1439 closed

[2015-08-18 17:25] sethladd commented on #1439
:+1:

[2015-08-18 17:29] Sfshaza commented on #1439
Thanks, George!

On Tue, Aug 18, 2015 at 10:26 AM, Seth Ladd <notifications@github.com>
wrote:

[2015-08-18 18:02] GeKorm commented on #1439
Thank you all!

[2015-08-18 22:56] Sfshaza commented on #1438
Fixed.

[2015-08-18 22:56] #1438 closed

[2015-08-19 01:34] austincummings opened #1440 "Distribute tarballs for Linux Dart SDK downloads instead of ZIP archives"
Just makes a little more sense to distribute `.tar.gz`s in my opinion. Just a suggestion though.

[2015-08-19 07:57] mit-mit commented on #1364
Hi @kwalrath, what is the status on these docs?

[2015-08-19 13:42] mit-mit opened #1441 "Update tools documentation for 1.12 to state that new language features are only in EAP"
We are launching two new language features in 1.12: 1) the new .package file, and 2) null-aware. The tools support for these in the JetBrains IDEs will only be in their EAP versions, e.g. WebStorm 11 EAP and not in WebStorm 10. We should update the tools page to clarify this.

[2015-08-19 14:15] Sfshaza commented on #1441
Hey, Michael,

I have a CL out for the .packages changes (Seth and Kathy are reviewing).

Kathy is working on null aware.

I will also take on the edits to the tools page(s).

[2015-08-19 15:03] sethladd opened #1442 "Language tour doesn't have example of how to rethrow an exception"
We mention the keyword `rethrow` but that's all I could fine.

Could we add an example and explanation?

[2015-08-19 15:03] sethladd commented on #1442
cc @kwalrath

[2015-08-19 15:14] kwalrath commented on #1364
I did some conversion of samples, and I started editing the text (which required some reorganization), but I don't have anything ready for review yet. I don't see any problem finishing this in time for 1.12.

[2015-08-19 15:22] kwalrath commented on #1440
I believe that download formats are the provenance of https://github.com/dart-lang/sdk/issues. Could you please file a bug there, @austincummings?

We can leave this bug open to track the need to update our download page if they do decide to distribute tarballs.

[2015-08-19 20:21] sethladd commented on #766
@kwalrath friendly bump. Someone just pinged me about this.

[2015-08-19 20:27] kwalrath commented on #766
@sethladd could you provide the text for this? It seems it might be uncool to change the transcript, but we could insert a note or two (one at the top of the transcript in case they don't look below, and one at the point where the transcript covers the feature). A pull request would be especially great...

[2015-08-19 20:27] sethladd commented on #766
Opened: https://github.com/dart-lang/www.dartlang.org/pull/1443

[2015-08-19 20:36] kwalrath commented on #766
Thanks!

[2015-08-19 20:36] #766 closed

[2015-08-20 20:35] Sfshaza commented on #1433
Fixed.

[2015-08-20 20:35] #1433 closed

[2015-08-20 21:42] Sfshaza commented on #1431
Fixed.

[2015-08-20 21:42] #1431 closed

[2015-08-20 21:44] Sfshaza commented on #1426
Fixed.

[2015-08-20 21:44] #1426 closed

[2015-08-20 21:44] sethladd commented on #1426
thanks!

[2015-08-20 21:45] Sfshaza commented on #1441
I just updated the WebStorm and IntelliJ pages, suggesting the EAP versions if they want the latest Dart language features.

[2015-08-20 22:05] Sfshaza commented on #1441
.packages are mostly documented. There are still a few items left to take care of. See:
https://docs.google.com/spreadsheets/d/1fI3CJVpZLa2nLM0M0Wt9vh2VqZ4UB4RNAxF3s8ChyxM/edit#gid=0

[2015-08-20 22:20] kwalrath commented on #1364
Doc changes are up for review: https://chromiumcodereview.appspot.com/1301343002/

[2015-08-21 16:11] Sfshaza commented on #847
I'm closing this bug. docgen is being replaced by dartdoc (available with the latest 1.12-dev). This new tool generates static HTML files that can be viewed in any browser.

[2015-08-21 16:11] #847 closed

[2015-08-21 17:11] sethladd commented on #1364
Thanks Kathy! Looks like the CL was committed. Can we close this?

[2015-08-21 17:16] sethladd commented on #1172
Dupe of https://github.com/dart-lang/www.dartlang.org/issues/1234

[2015-08-21 17:16] #1172 closed

[2015-08-21 17:29] kwalrath commented on #1364
I just published it, so yes.

[2015-08-21 17:29] #1364 closed

[2015-08-21 17:31] sethladd commented on #1364
:shipit:

[2015-08-21 18:15] kwalrath commented on #1364
Today I learned there's a shipit emoji.

[2015-08-21 18:36] kwalrath commented on #1441
I think your changes in https://github.com/dart-lang/www.dartlang.org/commit/52ab4ea2614dceff396892052a3cb6f6873bb82b fix this issue, so I'm closing this.

[2015-08-21 18:36] #1441 closed

[2015-08-25 16:52] Sfshaza opened #1446 "Screenshot of "imgs/run.png" button looks tomato red, not true red"
This is the screen grab of Dartpad's run button. We need to play with the color profile or something.

[2015-08-25 20:45] Sfshaza commented on #1446
For reference:
http://www.gballard.net/psd/go_live_page_profile/embeddedJPEGprofiles.html

[2015-08-25 22:06] kwalrath opened #1447 "Consider naming www.dartlang.org/samples-files to something shorter"
Maybe `www.dartlang.org/f`

[2015-08-31 17:29] sethladd opened #1449 "The main "download dart" page doesn't show the current version"
Can we show what the current version of Dart is?

![screen shot 2015-08-31 at 10 28 57 am](https://cloud.githubusercontent.com/assets/5479/9585347/2da3d5b6-4fcb-11e5-969b-7a8ee2166580.png)

Thanks!

[2015-09-02 16:26] mit-mit opened #1451 "Provide a stable "guessable" url for downloading old SDK/Dartium versions"
_From @DanTup on October 16, 2014 13:32_

For the dart-sdk Chocolatey package, I have to use this page to get the &quot;stable&quot; URLs for a package (to allow switching versions):

https://www.dartlang.org/tools/download_archive/

This makes it tricky for me to script without yanking data from that page. It would be much better if you could provide stable URLs built from that data, even if they

[2015-09-02 16:26] mit-mit commented on #1451
_From @lrhn on October 17, 2014 8:15_

*Removed [Type-Defect](../labels/Type-Defect) label.*
*Added [Type-Enhancement](../labels/Type-Enhancement), [site](../labels/site), [Triaged](../labels/Triaged) labels.*

[2015-09-02 16:26] mit-mit commented on #1451
_From @lrhn on October 17, 2014 8:17_

*Removed [site](../labels/site) label.*
*Added [Area-Site](../labels/Area-Site) label.*

[2015-09-02 16:26] mit-mit commented on #1451
_From @DartBot on January 26, 2015 14:19_

*This comment was originally written by @a14n*
_____
Any progress on this issue ?

I'm adding support for continuous integration on travis(https://github.com/travis-ci/travis-build/pull/357). For now there are only "stable" and "dev" version supported because the urls to get the sdk are straightforward.
I could use something similar to what is done on htt

[2015-09-02 16:26] mit-mit commented on #1451
_From @DartBot on January 26, 2015 15:6_

*This comment was originally written by @Fox32*
_____
Another use case:

Some days ago I thought about automaticly downloading the right content_shell version based on the "dart --version" output. But "dart --version" only returns a version but not the revision. The download archive on the other side expect the revision.
My initial idea was also to parse E

[2015-09-02 16:30] sethladd commented on #1451
A stable, guessable download URI should be provided by how we lay out files in Google Cloud Storage. The www.dartlang.org shouldn't sit in front of serving downloads. This is really a request for how we publish dev and stable builds into GCS.

[2015-09-02 16:30] #1451 closed

[2015-09-02 16:52] zoechi commented on #1451
https://pub.dartlang.org/packages/bwu_dart_archive_downloader has good support for this (command line and API)
A disadvantage is that it requires Dart to be available, therefore it can only be used to download additional SDKs or other tbings like Dartium, content_shell,...

[2015-09-02 17:47] Sfshaza opened #1452 "Clarify (static) const vs final in language tour"
Excerpts from a discussion about (static) const vs final.

---

Original query:

**TL;DR**: I don't quite understand when const variables have to be static.

This is valid Dart code:

[code]

I would expect either one of the following to be true:

[code]
The fact that const variables have to be static only when the left-hand side (but not the right-hand side) has const seems like a discrepancy to

[2015-09-02 17:51] sethladd opened #1453 "Clarification request for Language Tour (instance vars and const)"
From customer feedback:

"So given that, when the Tour of the Dart Language says "Instance variables can’t be const," it actually means instance variables cannot be const instance variables, which has no bearing on whether instance variables can be set to const values."

[2015-09-02 17:51] sethladd commented on #1453
Dupe of https://github.com/dart-lang/www.dartlang.org/issues/1452

[2015-09-02 17:51] #1453 closed

[2015-09-03 11:28] anders-sandholm opened #1455 "Front page shows the old white lowercase g on blue background for Google CRM"
We should change this to then new colorful uppercase G on white background.

[2015-09-03 14:38] mit-mit commented on #1451
Note that starting with 1.11 we do store the downloads in cloud storage with "sane" URLs that contain the release number, e.g.: `https://storage.googleapis.com/dart-archive/channels/stable/release/1.11.1/sdk/dartsdk-windows-ia32-release.zip`

[2015-09-03 14:40] a14n commented on #1451
Awesome!

[2015-09-03 15:02] sethladd commented on #1451
Very cool!

Does that work for dev channel, too?

We should document this on https://www.dartlang.org/downloads/archive/

[2015-09-03 15:04] a14n commented on #1451
It looks like, I can see a link to `https://storage.googleapis.com/dart-archive/channels/dev/release/1.13.0-dev.0.0/sdk/dartsdk-linux-ia32-release.zip` on https://www.dartlang.org/downloads/archive/

:+1:

[2015-09-03 15:05] mit-mit commented on #1451
Yup.

[2015-09-03 17:11] sethladd opened #1456 "Document stable download URIs"
From https://github.com/dart-lang/www.dartlang.org/issues/1451#issuecomment-137478510

We now have beautiful new URIs for the raw downloads. Tools can now be built that assume this URI structure.

Can we document this on our Downloads Index page?

Thanks!

[2015-09-03 17:11] sethladd commented on #1456
cc @mit-mit @whesse

[2015-09-03 17:42] Sfshaza commented on #1455
Fixed.

[2015-09-03 17:42] #1455 closed

[2015-09-03 20:18] Sfshaza opened #1457 "Ill-behaved sprites on the front page"
When switching between the carousel icons under the "Who Uses Dart" section on the front page, the icons to the left of the newly clicked icon, jump to the right by about 1 pixel. Then, when you click an icon to the left, the icons to the left of the formerly active icon, jump to the left by about 1 pixel.

I don't think the problem is with the sprite PNG file (/imgs/dart-sprite-2x.png). I think t

[2015-09-03 22:44] Sfshaza commented on #1449
Fixed.

[2015-09-03 22:44] #1449 closed

[2015-09-03 22:45] Sfshaza commented on #1456
Fixed.

[2015-09-03 22:45] #1456 closed

[2015-09-03 22:48] Sfshaza commented on #1406
Released the Futures tutorial, with embedded DartPad, early this week. Fixed and closing.

[2015-09-03 22:48] #1406 closed

[2015-09-03 22:54] Sfshaza commented on #1429
Fixed as of Monday!

[2015-09-03 22:54] #1429 closed

[2015-09-03 22:55] sethladd commented on #1429
Yay! Thanks @Sfshaza

[2015-09-03 22:55] Sfshaza commented on #1354
I think I've caught most places. Closing.

[2015-09-03 22:55] #1354 closed

[2015-09-03 22:57] Sfshaza commented on #845
I'd really like to add this book, but I need some text!

[2015-09-04 00:39] kwalrath commented on #845
I don't think Martin is on github or else I'd cc him. Closing although I'd be happy to reopen if we get the text we need.

[2015-09-04 00:39] #845 closed

[2015-09-04 06:50] Sfshaza commented on #1408
At the very least, add a note to the article, referring them to the Async: Futures tutorial which does demonstrate try-catch with async-await.

[2015-09-04 06:56] Sfshaza commented on #1202
I am unable to reproduce this, so I am closing. If you have more info on how to reproduce, please re-open!

[2015-09-04 06:56] #1202 closed

[2015-09-04 06:59] Sfshaza commented on #1452
Is this related to our oldest bug?
https://github.com/dart-lang/www.dartlang.org/issues/479

[2015-09-04 16:00] sethladd commented on #1452
Looks like it!

[2015-09-04 23:06] sethladd opened #1459 "Missing logo in upper left"
![screen shot 2015-09-04 at 4 06 27 pm](https://cloud.githubusercontent.com/assets/5479/9696070/f05abbf0-531e-11e5-826b-8151cfd01cae.png)

[2015-09-04 23:07] sethladd commented on #1459
The link is there, but the background image is now gone :(

cc @Sfshaza

[2015-09-05 00:07] Sfshaza commented on #1365
Added a mention in the Getting Started tutorial that the .packages file can be ignored.

[2015-09-05 00:07] Sfshaza commented on #1322
Fixed.

[2015-09-05 00:07] #1322 closed

[2015-09-05 00:08] Sfshaza commented on #1459
Oopsie! Fixed.

[2015-09-05 00:08] #1459 closed

[2015-09-05 00:22] sethladd commented on #1459
Thanks!

[2015-09-08 21:33] Sfshaza commented on #1347
Fixed.

[2015-09-08 21:33] #1347 closed

[2015-09-10 00:15] kwalrath commented on #1432
Fix in progress: https://codereview.chromium.org/1318823015/

[2015-09-10 10:02] mit-mit opened #1460 "Clarify how to find the raw zip downloads for the Dart SDK"
_From @iposva-google on September 10, 2015 1:50_

Navigating to the page "Download Dart" I am greeted with a "Download the SDK" chapter which does not point me at any downloadable link. All there is a link to some "installing the Dart SDK on Mac" which contains a lengthy description of involved commands, which is not equal to "Download the SDK".

_Copied from original issue: dart-lang/sdk#24322_

[2015-09-10 10:05] mit-mit commented on #1460
The "raw download" is documented eventually, for example on the Mac page under 'Downloading the Dart SDK manually'. Ivan, is your concern that this is to hidden, or that the 'Download' page should be titled differently given it's more about installing than downloading?

[2015-09-10 19:20] sethladd commented on #1460
Thank you for the feedback. If we can make this page more user-friendly and reduce confusion, we should give it a shot. I have an idea here, will send a patch.

[2015-09-10 19:32] sethladd opened #1461 "Offer link to download the API docs"
Currently on https://www.dartlang.org/downloads/archive/ we point people to downloading the JSON docs.

Instead, we'd like to point them to download a zip of the actual HTML docs.

[2015-09-10 19:33] sethladd commented on #1461
cc @keertip what is the recommended URL (or URL structure) to download the HTML docs? Thanks!

[2015-09-10 21:45] Sfshaza commented on #1365
Added the `--packages` options to the dart-vm and dart2js reference pages. This is now done.

[2015-09-10 21:45] #1365 closed

[2015-09-10 21:54] Sfshaza commented on #1432
Fixed.

[2015-09-10 21:54] #1432 closed

[2015-09-10 21:56] Sfshaza commented on #1422
I've spoken to Seth and John in the last few weeks. The plan is to create a wiki (probably on GitHub) that contains info on Observatory. It's easier for the engineers to document this complex feature and it's easier to keep it up to date on GitHub rather than on dartlang. Once some info is available about this feature (and any new features), I will point to it from the Observatory docs on dartlang

[2015-09-10 21:58] Sfshaza commented on #1397
Bob wrote a detailed blog post on dartfmt:
http://journal.stuffwithstuff.com/2015/09/08/the-hardest-program-ive-ever-written/

[2015-09-11 00:06] Sfshaza commented on #1447
Fixed.

[2015-09-11 00:06] #1447 closed

[2015-09-11 07:46] iposva-google commented on #1460
Michael, here are the steps that I followed:
- Navigate to dartlang.org
- Click on "Get Started"
- Click on "Download Dart"
- Read that page and see "Download the SDK" header.
- Notice that this section talks about Homebrew. I don't want Homebrew, but there is only one link here.
- Click the only link under the "Download the SDK" heading named "Installing the Dart SDK on Mac" which is what I want

[2015-09-11 07:48] dgrove commented on #1460
If you had clicked "Need a specific version or another download? See the Index
of Downloads <https://www.dartlang.org/downloads/archive/>.", would you get
what you want?

On Fri, Sep 11, 2015 at 12:46 AM, Ivan Posva <notifications@github.com>
wrote:

[2015-09-11 15:36] sethladd commented on #1460
I have started a change to improve this flow.

[2015-09-11 20:47] keertip commented on #1461
We have the zip of the HTML docs, its ***api-docs/dartdocs-gen-api.zip***. So instead of pointing to

https://storage.googleapis.com/dart-archive/channels/stable/release/1.12.1/api-docs/dart-api-docs.zip

=>

https://storage.googleapis.com/dart-archive/channels/stable/release/1.12.1/api-docs/dartdocs-gen-api.zip

[2015-09-11 20:49] sethladd commented on #1461
excellent. Thanks!

[2015-09-11 20:50] sethladd commented on #1461
Meanwhile, we could stop generating and uploading the zip of the JSON files. But that's a different issue :)

[2015-09-11 21:21] sethladd commented on #1461
@Sfshaza I've a larger change that will take care of this. I'll send it over for review. Thanks!

[2015-09-11 21:26] sethladd commented on #1460
Related: https://github.com/dart-lang/www.dartlang.org/issues/1461

[2015-09-14 21:13] sethladd commented on #1461
@keertip the link you posted (https://storage.googleapis.com/dart-archive/channels/stable/release/1.12.1/api-docs/dartdocs-gen-api.zip) doesn't work. Is there another link we can try for the zip of HTML docs? Thanks!

[2015-09-14 21:59] sethladd commented on #1461
@keertip confirmed that the link is correct, but the zip isn't getting copied to the right place.

[2015-09-14 22:15] sethladd commented on #1461
CL https://chromiumcodereview.appspot.com/1337283004/

[2015-09-14 22:15] sethladd commented on #1460
CL https://chromiumcodereview.appspot.com/1337283004/

[2015-09-14 23:10] sethladd opened #1462 "Remove survey from top banner"
All done!

[2015-09-15 20:42] kwalrath commented on #1460
Published.

[2015-09-15 20:42] #1460 closed

[2015-09-15 20:42] kwalrath commented on #1461
Published.

[2015-09-15 20:42] #1461 closed

[2015-09-16 10:11] mit-mit commented on #1460
Looks great, thanks Seth and Kathy!

[2015-09-18 21:09] Sfshaza commented on #1286
I've removed this chapter from dartlang.

[2015-09-18 21:09] #1286 closed

[2015-09-21 11:15] whesse opened #1463 "Add ARM sdks to download archive page"
We are now uploading ARM sdks for linux, in the same format as the ia32 and x64 sdks already uploaded.  They are at, for example,
gs://dart-archive/channels/stable/release/1.12.1/sdk/dartsdk-linux-arm-release.zip

Can we add support for downloading the arm sdks from the dartlang.org/download/archive page?
This refers to issue https://github.com/dart-lang/sdk/issues/24383

[2015-09-21 14:52] sethladd commented on #1463
Very cool.

[2015-09-21 17:18] Sfshaza opened #1464 "Need ability to add more redirects"
Evidently, we have hit the limit on how many redirects we can have.

![screen shot 2015-09-21 at 10 11 45 am](https://cloud.githubusercontent.com/assets/6293442/9999207/fb3b0010-6049-11e5-880f-55792754032c.png)

I worked around the problem, for now, by deleting another redirect.

[2015-09-21 17:31] sethladd commented on #1464
In app.yaml, you might be able to combine multiple URLs together with regexps, written to handle multiple cases.

Docs are at https://cloud.google.com/appengine/docs/python/config/appconfig

We love maintaining old redirects. Unless the redirect is no longer ever hit, +1 to keeping them and finding a scalable solution.

[2015-09-21 22:55] kwalrath commented on #1464
I think we have a lot of duplicates in app.yaml that aren't necessary now that .../foo is automatically converted to .../foo/.

[2015-09-22 16:46] sethladd opened #1466 "Consider deleting Switcher.dart"
https://github.com/dart-lang/www.dartlang.org/blob/master/src/site/js/Switcher.dart

[2015-09-22 17:16] Sfshaza opened #1467 "Download "dev" table hangs (on mac)"
https://www.dartlang.org/downloads/archive/

The error in the console says:

Failed to load resource: the server responded with a status of 404 (OK)
https://storage.googleapis.com/dart-archive/channels/dev/release/1.12.1/VERSION

Why is the dev table loading 1.12.x? Shouldn't it only be loading 1.13.x?

List of dev releases:
https://www.googleapis.com/storage/v1/b/dart-archive/o?prefix=channels/de

[2015-09-22 17:17] Sfshaza commented on #1467
Jake pointed out that this version wasn't uploaded to cloud:
https://storage.googleapis.com/dart-archive/channels/dev/release/1.12.1/VERSION

This might be the cause, but I don't get why the dev table would try to access 1.12.x.

[2015-09-22 17:26] sethladd commented on #1467
I don't think we'd expect `https://storage.googleapis.com/dart-archive/channels/dev/release/1.12.1/VERSION` to be a URI that points to something. There's no dev release with the version 1.12.1.

That's exactly the right question :)

[2015-09-22 17:42] kwalrath commented on #1466
Yep, it shouldn't stay there. Perhaps it should move to https://github.com/dart-lang/dart-up-and-running-book, since docs/dart-up-and-running/ch03.markdown quotes from it.

[2015-09-22 22:04] #1467 closed

[2015-09-24 18:29] kwalrath opened #1470 "platform-specific download pages should feature "Updating" sections"
When IDEs tell their users to update their version of Dart, they should be able to send them to a page that prominently features update instructions.

I don't necessarily want to separate installing from updating, so let's try adding big headings with "Updating". E.g., in https://www.dartlang.org/downloads/windows.html, "Updating using Chocolatey" could follow "Installing using Chocolatey" in the

[2015-09-24 19:21] daftspaniel opened #1471 "Add 'Dart By Example' To The List Of Books"
Please can you add https://www.packtpub.com/web-development/dart-example
to the list of books. Thanks!

[2015-09-24 23:21] Sfshaza commented on #1471
Congrats on the new book!

https://www.dartlang.org/books/

[2015-09-24 23:21] #1471 closed

[2015-09-25 23:19] sethladd commented on #1471
+1 !

[2015-09-26 14:36] sethladd commented on #1470
I see now... good idea!

[2015-09-26 14:47] daftspaniel commented on #1471
Thanks for adding this so quickly!

[2015-09-28 20:16] Sfshaza commented on #803
This isn't a doc bug. Closing.

[2015-09-28 20:16] #803 closed

[2015-09-28 20:22] Sfshaza commented on #722
We have no plans to write docs on storing serverside data to a database, but we do have the server-side codelab which shows how to write a RESTful server using the RPC package. Closing.

https://www.dartlang.org/codelabs/server/

[2015-09-28 20:22] #722 closed

[2015-09-28 21:32] sethladd opened #1472 "Document error-handling in transformers"
_From @nex3 on July 23, 2014 21:25_

We've received feedback that it's difficult to know how to handle errors in pubspecs. It would be good if this were explained in the documentation.

There are two main ways of doing error-handling:

\* If there's an error in the transformer configuration, the constructor should detect it and throw an error. This error will be be printed in a nice format and ass

[2015-09-28 21:32] sethladd commented on #1472
_From @Aetet on September 25, 2015 4:30_

Hello. Do you have any examples about error handling in transformers? How to completely interrupt build process when any error occur?

[2015-09-28 21:32] sethladd commented on #1472
Should this be moved to barback?

[2015-09-28 21:32] sethladd commented on #1472
_From @nex3 on September 28, 2015 21:25_

@Aetet There's no way to *completely* interrupt the build process, but `pub build` will emit a failing exit code if any transformer fails.

@sethladd No, the high-level barback documentation is part of the main dartlang.org docs.

[2015-09-28 21:33] jmesserly opened #1473 "DartPad does not work from https://www.dartlang.org"
1. navigate to <https://www.dartlang.org/>
2. click "try dart"

Expected:
try dart appears

Actual:
it slides but nothing shows up

Note that the "https" link appears to be the top hit for a Google search for "dart language"

Here's the error:
[code]

CC @devoncarew

[2015-09-28 21:35] jmesserly commented on #1473
I should clarify, this fails in Chrome and Firefox. Safari it (currently) appears to work.

[2015-09-28 21:41] Sfshaza commented on #1473
Until dartpad.dartlang.org can serve https, the workaround is to use the non-secure URL:

http://www.dartlang.org

@kwalrath and @lukechurch are working on the certificate issues now.

[2015-09-28 21:41] kwalrath opened #1474 "gist/dartpad in optional types article has disappeared"
The link in "Open this code in DartPad" doesn't work because the gist has disappeared. (It also doesn't work, at the moment, because dartpad.dartlang.org is having certificate issues, but those should go away soon.)

[2015-09-28 22:02] sethladd opened #1475 "Add "mixins + super()" to language tour"
Looks like we're ready!

https://github.com/dart-lang/sdk/issues/23770

[2015-09-28 22:03] sethladd commented on #1475
cc @kwalrath

[2015-09-28 22:11] lukechurch commented on #1473
cc self.

[2015-09-28 22:11] lukechurch commented on #1474
cc self

[2015-09-29 23:36] kwalrath commented on #1473
Fixed, and in case dartpad breaks again, we now use macros for every reference to DartPad (da2656978cc759222e906ea5d4c9e11cba3a1ab7).

[2015-09-29 23:36] #1473 closed

[2015-10-01 20:02] kwalrath opened #1477 "Move all detailed observatory docs to dart-lang/sdk gh-pages"
...leaving behind only an overview and a place for some targeted, task-oriented docs. **Deleting** all the detailed docs is also a possibility, since the Observatory docs on dartlang.org (https://www.dartlang.org/tools/observatory/) are so out of date.

Background: We're moving detailed tools docs into project repos, so that they're easier for engineers to update when the tool's code changes. Norm

[2015-10-02 22:34] srawlins opened #1479 "Searching files for content source missing"
At https://www.dartlang.org/samples/ when I click "Source" on the "Searching files for content" demo, I get a GitHub 404. :frowning:

[2015-10-02 22:35] srawlins commented on #1479
This is also true for:

* Concatenating files
* Dartiverse Search: A search app using HttpServer and WebSockets

[2015-10-02 22:37] srawlins opened #1480 "Anagram sample is not found"
https://www.dartlang.org/samples/anagram/ loads with "Error: Not Found" in the iframe.

[2015-10-05 15:52] sethladd commented on #1480
Where do we link this from?

Also, thanks for the report!

[2015-10-05 15:59] Sfshaza commented on #1480
Sam, thanks for bringing this to our attention! On Friday I spent some time gutting and updating the /samples page. The CL is out for review (by Kathy) and is staged here:
https://samples-dot-dart-lang.appspot.com/samples/

[2015-10-05 16:00] Sfshaza commented on #1480
And if either of you would like to weigh in on the CL:
https://codereview.chromium.org/1387723002/

[2015-10-05 17:35] kwalrath opened #1481 "Update dartlang.org/dart-by-example/"
Damon's updates (https://github.com/dart-lang/dart-samples/pull/93) should be reflected in this page. I'm fairly sure the page was automatically generated, but I don't see a README under its directory.

[2015-10-05 18:03] Sfshaza commented on #1481
Fixed.

[2015-10-05 18:03] Sfshaza commented on #1480
Fixed.

[2015-10-05 18:03] #1480 closed

[2015-10-05 18:06] Sfshaza commented on #1479
Fixed.

[2015-10-05 18:06] #1479 closed

[2015-10-05 18:10] Sfshaza commented on #1474
Fixed.

[2015-10-05 18:10] #1474 closed

[2015-10-05 18:12] Sfshaza commented on #1462
That has been removed.

[2015-10-05 18:12] #1462 closed

[2015-10-05 18:28] Sfshaza commented on #1396
This code lab is removed and retired.

[2015-10-05 18:28] #1396 closed

[2015-10-05 21:36] Sfshaza commented on #1481
Fixed.

[2015-10-05 21:36] #1481 closed

[2015-10-06 16:53] clayberg opened #1483 "Remove Dart Plugin for Eclipse from dartlang.org"
We are no longer supporting the Dart Plugin for Eclipse. Debugging support in DPE will actually begin to fail starting with 1.14. As a result, can we remove mention of Eclipse here?

https://www.dartlang.org/tools/

And either remove the following page or add text at the top that states that it is deprecated and unsupported?

https://www.dartlang.org/tools/eclipse-plugin/

[2015-10-06 16:54] sethladd commented on #1483
Could we remove it from the site and make it a README in the project's repo?

[2015-10-07 20:18] sethladd opened #1484 "=> function example in "A Tour of the Dart Language" should not be void"
_From @ninabikes on October 7, 2015 20:6_

In https://www.dartlang.org/docs/dart-up-and-running/ch02.html#functions, it says

[code]

It seems a little bit like bad practice to suggest using `=>` with void functions, since the doc explicitly calls out that `=>` is  "shorthand for `{ return expr;}`"

**Expected result:**
`=>` should be used as an example with a function that has a return value, not

[2015-10-07 20:18] sethladd commented on #1484
_From @keertip on October 7, 2015 20:18_

moved to https://github.com/dart-lang/sdk/issues/24525, as it pertains to site.

[2015-10-08 10:11] caruli opened #1485 "Create a custom HTML element using Polymer polymer.dart- 0.16"
This tutorial should be updated or deleted.

[2015-10-08 12:47] Sfshaza commented on #1485
Yes, this is in process. thx

[2015-10-08 15:43] kwalrath opened #1486 "Remove third_party/docbook-xsl-1.78.0"
I don't think we use it any more. (I have a vague recollection that we used it to generate HTML from the XML book files. That's no longer a use case.)

[2015-10-08 15:47] kwalrath commented on #1483
Files that contain the string "Eclipse":

./src/appengine/scripts/redirector.py
./src/diagrams/tutorials/indexeddb/database.graffle/data.plist
./src/site/docs/tutorials/shared-pkgs/index.markdown
./src/site/events/2015/summit/node_modules/grunt/node_modules/js-yaml/node_modules/esprima/package.json
./src/site/events/2015/summit/node_modules/grunt/node_modules/js-yaml/node_modules/esprima/README.md

[2015-10-08 17:05] Sfshaza commented on #1483
You asked: "Should we remove src/site/tools/editor/ completely?" I would say yes.

[2015-10-08 17:06] Sfshaza commented on #752
No longer supported. Closing.

[2015-10-08 17:06] #752 closed

[2015-10-08 17:07] sethladd commented on #1483
+1

[2015-10-08 17:07] Sfshaza commented on #760
No longer supported.

[2015-10-08 17:07] #760 closed

[2015-10-08 17:14] Sfshaza commented on #733
No longer supported.

[2015-10-08 17:14] #733 closed

[2015-10-08 20:49] sethladd commented on #1486
Oh, good catch. That was for the old DocBook book.

[2015-10-09 00:08] Sfshaza commented on #1036
Not planning to do this. Closing.

[2015-10-09 00:08] #1036 closed

[2015-10-09 00:12] Sfshaza commented on #925
Polymer 1.0 uses a different strategy for this. Properties are documented here:
https://github.com/dart-lang/polymer-dart/wiki/properties

[2015-10-09 00:12] #925 closed

[2015-10-09 00:14] Sfshaza commented on #1485
Duplicate of: https://github.com/dart-lang/www.dartlang.org/issues/1401

Fyi, the Polymer Dart 1.0 documentation is here:
https://github.com/dart-lang/polymer-dart/wiki#10-developer-guide

[2015-10-09 00:14] #1485 closed

[2015-10-09 17:24] ninabikes opened #1487 "Documentation link for https://pub.dartlang.org/packages/unittest is a 404"
**To reproduce**
1. Go to https://pub.dartlang.org/packages/unittest
2. Click on the link under "Documentation": http://www.dartdocs.org/documentation/unittest/0.12.4/index.html#unittest

**Expected result**
I expect two things:
1. The Documentation link links to the correct page.
2. http://www.dartdocs.org/documentation/unittest/0.12.4/index.html#unittest should redirect to the curent documentati

[2015-10-09 17:26] sethladd commented on #1487
Sorry about that. Sometimes the docs fail to build for numerous reasons. Regardless, you want the new test package. https://github.com/dart-lang/test or https://pub.dartlang.org/packages/test

(also, this repo is only concerned about issues around www.dartlang.org, so I'm going to close)

Thanks for the feedback!

[2015-10-09 17:26] #1487 closed

[2015-10-09 17:28] kwalrath opened #1488 "Fix ?: description in code lab"
From LRHN:

Someone pointed me to a part of https://www.dartlang.org/codelabs/darrrt/ that I think could be improved
(nit-pickery, but I like to pick nits).
I don't know if you are the person in charge of it (but it was a qualified guess).

It says:
"The ternary operator `?:` is short-hand for an if-then-else statement."
That's at least slightly wrong, and somewhat misleading.
I can give a longer

[2015-10-09 17:52] ninabikes commented on #1487
Ah, I didn't even read the description of the package because I did
1. Google "dart unit test"
2. Clicked on the second link (https://pub.dartlang.org/packages/unittest)
3. Clicked on link under "Documentation" without reading the package description

Given that "https://pub.dartlang.org/packages/unittest" is hosted on "dartlang.org," does that mean that I should only file bugs in this component i

[2015-10-09 18:13] sethladd commented on #1487
Sorry about that. We know it's confusing. Perhaps it would be better if the README for unittest explicitly did more to redirect new users to the new package and docs.

cc @kevmoo @nex3

Yes.

[2015-10-09 20:05] nex3 commented on #1487
The first (of only two) sentences in `unittest`'s README, as well as its homepage link, link to the `test` package. I suppose we could also make the documentation link point there, although that's not how documentation links usually work.

[2015-10-09 20:38] kwalrath commented on #1483
Here are the mentions of editor/:

- [ ] ./src/appengine/app.yaml
- [ ] ./src/appengine/scripts/redirector.py
- [ ] ./src/site/hackathons/2012/happy-hour/index.html
- [ ] ./src/site/slides/2011/12/gtug/SV-GTUG-Intro-to-Dart-2012-12.pdf
- [ ] ./src/site/support/faq.markdown

[2015-10-10 00:58] Sfshaza commented on #1486
Fixed.

[2015-10-10 00:58] #1486 closed

[2015-10-10 00:58] Sfshaza commented on #1466
Fixed.

[2015-10-10 00:58] #1466 closed

[2015-10-10 01:20] kwalrath commented on #1483
I'm awaiting word on what to do with the tip in /tools/pub/troubleshoot.html, but I'm nearly done with the changes. See changes in [CL 1397183003](https://chromiumcodereview.appspot.com/1397183003), which is staged at https://eclipse-dot-dart-lang.appspot.com.

[2015-10-12 17:36] kwalrath opened #1489 "broken links in Observatory docs"
From https://github.com/dart-lang/sdk/issues/24419, filed by @bwilkerson:

On both

https://www.dartlang.org/tools/observatory/cpu-profile.html#defining-user-tags

and

https://www.dartlang.org/tools/observatory/tags.html

There are links to https://api.dartlang.org/apidocs/channels/be/dartdoc-viewer/dart-developer, which is broken

[2015-10-13 17:19] kwalrath commented on #1483
CL submitted. We'll update the site today or tomorrow.

[2015-10-13 18:11] kwalrath opened #1491 "Broken links"
I just ran a link checker and came up with the following broken links:

* [ ] /docs/dart-up-and-running/ch02.html to https://api.dartlang.org/apidocs/channels/stable/dartdoc-viewer/dart-core
* [ ] /mobile/ to mobile/editor.css
* [ ] /docs/tutorials/polymer-intro/ to http://www.polymer-project.org/polymer.html
* [ ] /events/2015/summit/ to /devsummit/manifest.json

[2015-10-13 18:11] sethladd commented on #1491
Nice, thanks for doing that! Can we wire it into a CI build of the site?

[2015-10-13 18:18] kwalrath commented on #1491
That's issue #1060. My link checker was a web one and required lots of interpretation.

[2015-10-13 18:26] Sfshaza commented on #1491
Link checking has long been a pain in the tuchus. I also use a web one.

Thanks for doing this, Kathy. It's been awhile since I've run one.

On Tue, Oct 13, 2015 at 11:18 AM, Kathy Walrath <notifications@github.com>
wrote:

[2015-10-13 21:08] goderbauer opened #1492 "Style Guide: Add guidelines for async/await usage"
I have seen a few cases in the wild where people add ```async```/```await``` to functions where it is not really necessary. It would be cool to have some guidelines on its usage in the style guide for consistency.

Here are a few examples, where ```async```/```await``` is not really necessary, but sometimes added by people, sometimes not:

- ```Future<bool> foo() async => await bar.alwaysReturnsFu

[2015-10-13 21:13] sethladd commented on #1492
cc @pq can you queue these up as lints? :) This just came up here, too: https://github.com/dart-lang/sdk/issues/24540

Thanks for the suggestion!

I would agree that the first two are cases where we can suggest an alternative.

But `Future<bool> foo() async => true;` is legit. I would argue it's cleaner than `Future<bool> foo() => new Future.value(true);`

cc @munificent any issues if we make the

[2015-10-14 21:00] Sfshaza commented on #1491
Fixed.

[2015-10-14 21:00] #1491 closed

[2015-10-16 00:41] Sfshaza commented on #1488
Fixed.

[2015-10-16 00:41] #1488 closed

[2015-10-20 11:48] Janamou opened #1493 "Update dart on mobile page with info about Flutter"
https://www.dartlang.org/mobile/

[2015-10-20 18:24] sethladd commented on #1493
Good catch, thanks!

[2015-10-20 18:26] sethladd opened #1494 "Request to remove https://www.dartlang.org/server/google-cloud-platform/"
This page isn't being kept up to date. The content should be discoverable in various github repos and wikis. We should remove this page in order to not confuse developers. Thanks!

[2015-10-20 18:27] sethladd commented on #1494
cc @kwalrath @Sfshaza

[2015-10-20 18:39] kwalrath commented on #1494
There's a bunch of pages here. Do you want to remove all of them? If so, where exactly should we redirect/point people to?

Here are the pages I've found:

- www.dartlang.org/server/google-cloud-platform/
  - www.dartlang.org/server/google-cloud-platform/app-engine/
    - www.dartlang.org/server/google-cloud-platform/app-engine/api.html
    - www.dartlang.org/server/google-cloud-platform/app-engin

[2015-10-20 18:46] sethladd commented on #1494
perhaps we should move them to wiki pages on their appropriate repo, and put "UNMAINTAINED" at the top of those wiki pages (and maybe even a request for help? a wiki page is easier for contributors, I hope)

[2015-10-20 20:24] kwalrath commented on #1493
We should link to flutter.io, right? What else, @sethladd?

[2015-10-20 20:26] sethladd commented on #1493
pointing to flutter.io should work. Thanks!

[2015-10-20 20:41] munificent commented on #1492
+1.

[2015-10-20 22:58] kwalrath commented on #1494
@Sfshaza and/or the responsible engineers (@sgjesse?) should handle this.

[2015-10-21 16:34] kwalrath commented on #1493
CL is in review: https://chromiumcodereview.appspot.com/1420733002/

[2015-10-21 18:00] sethladd commented on #1494
The maintenance, yes. But maybe we can help moving the content.

[2015-10-21 19:14] #1483 closed

[2015-10-22 13:09] ArgentiApparatus opened #1496 "What Not to Commit page needs updating wrt files created by dart2js?"
https://www.dartlang.org/tools/private-files.html
https://github.com/dart-lang/www.dartlang.org/blob/master/src/site/tools/private-files.markdown

The file patterns given for files created by *dart2js* are:

[code]

However, running *dart2js* (SDK 1.12) on one of my dart projects results in:

[code]

Presumably newer versions of *dart2js* use the extension `.js` instead of `dart.js` and do not gen

[2015-10-22 15:46] sethladd commented on #1496
cc @sigmundch Would you have a moment to provide some thoughts on which files we should be ignoring?

@ArgentiApparatus thanks for the issue! Once we get confirmation, we'd welcome a PR to update the doc.

[2015-10-22 16:11] ArgentiApparatus commented on #1496
I'd be glad to.

BTW I have a pull request in for Stagehand to update .gitignore templates that may be effected by the outcome of this issue: https://github.com/google/stagehand/pull/281

[2015-10-22 20:03] sigmundch commented on #1496
Good questions. I think we should keep the *.dart.js and *.js_, but sounds great to add the *.info.json.

**Regarding `*.js` vs `*.dart.js`**

Adding *.js to the .gitignore might be too aggressive as it is common for dart projects to sometimes contain source files written in JavaScript.

You are correct that calling dart2js without any flags will generate `out.js`, but tools that invoke dart2js (a

[2015-10-22 20:09] rmacnak-google opened #1497 "Debian apt-get instructions should use wget not curl"
curl is not included in the default Debian distribution

curl URL --> wget -qO- URL

https://www.dartlang.org/downloads/linux.html

[2015-10-22 21:07] sethladd commented on #1497
Good catch. Thank you!

[2015-10-23 13:04] ArgentiApparatus commented on #1496
`*.js` vs `*.dart.js` is tricky. There is a good reason to ignore `*.dart.js` but it assumes the user knows to set the output file name. This could trip up a beginner. Some clarification could be included in the details section.

Is `*.precompiled.js` still generated by dart2js? See https://stackoverflow.com/questions/20314796/which-files-are-generated-when-executing-dart2js-and-why

[2015-10-23 13:05] ArgentiApparatus commented on #1496
Another question,

Should the directory created by *dartdoc* ./`doc/api` also be mentioned?

[2015-10-23 15:29] sigmundch commented on #1496
precompiled.js is no longer generated separately. Now we support CSP by using a flag, when you provide it, the output.js file is the precompiled output instead.

[2015-10-23 18:39] ArgentiApparatus commented on #1496
Is `*.info.json` a file that should not be committed, or the user should avoid committing?

And what is the purpose of `.js.deps`? Again, do not commit, or avoid?

[2015-10-23 20:14] kwalrath commented on #1493
And it's up.

[2015-10-23 20:14] #1493 closed

[2015-10-23 21:50] sigmundch commented on #1496
yes, it's just information to debug a compile, I shouldn't be committed

Here too - there is no need to commit it. It's just to inform what files were used when compiling with dart2js.

[2015-10-26 13:16] sebe commented on #1463
@sethladd it would be nice to get the https://www.dartlang.org/downloads/archive/ listing the 32bit ARMv7 SDK, raspberry pi 2 cpu type. I hope adding some detail here might help.

For example the current stable channel now has 3 linux entries.
http://gsdview.appspot.com/dart-archive/channels/stable/release/1.12.2/sdk/
dartsdk-linux-arm-release.zip
dartsdk-linux-ia32-release.zip
dartsdk-linux-x64-r

[2015-10-26 17:12] munificent opened #1498 "Suggestion using higher-order functions on Stream"
Effective Dart has a guideline for using the ones on Iterable, we should suggest the parallel ones for Stream.

[2015-10-26 17:13] munificent opened #1499 "Suggest not using Function as a type annotation"
It's not very useful. If you're bothering to type it at all, you may as well use a real function type.

(The case where it is useful is if you want a variable that contains a function of one of a few possible types—maybe varying by arity. Function is at least slightly better than dynamic there.)

[2015-10-26 17:14] munificent opened #1500 ""PREFER" -> "CONSIDER" using higher-order functions on Iterable"
People seem to mostly do this already, and overuse is also common, so tone this down.

[2015-10-26 17:21] munificent opened #1501 "Reword "nonce parameter value" guideline"
Strengthen it to an "AVOID" rule and reword it to be a bit clearer.

[2015-10-26 21:50] munificent commented on #1238
Leaving this as-is. In Dart, we actually *don't* have any guideline that getters should be fast. This is different from other language ecosystems. Consider that in Dart, it's perfectly fine for `someCustomIterable.length` to be O(n).

But note that we also say:

[2015-10-26 21:50] #1238 closed

[2015-10-26 21:56] munificent commented on #1492
Done: http://localhost:8081/effective-dart/usage/#async

[2015-10-26 21:56] #1492 closed

[2015-10-26 21:58] munificent commented on #1266
Done: https://www.dartlang.org/effective-dart/style/#avoid-lines-longer-than-80-characters

[2015-10-26 21:58] #1266 closed

[2015-10-26 21:59] munificent commented on #1397
I think we're good here now.

[2015-10-26 21:59] #1397 closed

[2015-10-26 23:40] #1500 closed

[2015-10-26 23:40] #1501 closed

[2015-10-26 23:40] #1499 closed

[2015-10-26 23:40] #1498 closed

[2015-10-26 23:40] #1399 closed

[2015-10-28 22:54] nex3 opened #1503 "Lambdas can be better than tear-offs"
[This usage note](https://www.dartlang.org/effective-dart/usage/#dont-create-a-lambda-when-a-tear-off-will-do) says "DON’T create a lambda when a tear-off will do", but tear-offs have one important flaw: they don't add a stack trace entry.

This means that if you write something like `stream.listen(sink.add)` and `sink.add` throws an error, the line of code that actually hooked the stream up to th

[2015-10-28 23:09] nex3 opened #1504 "I disagree with "DON'T use return await""
From [the usage guidelines](https://www.dartlang.org/effective-dart/usage/#dont-use-return-await). It's much easier to rewrite a function when every asynchronous expression in it has an `await` attached. For example, a common pattern when rewriting functions is to replace `return X` with `var foo = X`; under the guideline as written, the developer now always has to know whether `X` is asynchronous

[2015-10-29 02:08] donny-dont opened #1505 "Collections and strong mode"
From collections, https://www.dartlang.org/effective-dart/usage/#collections, it says.

[code]

You might want to mention something about strong mode wanting the additional type information.

[2015-10-29 02:11] donny-dont commented on #1505
Guessing something like this would work?

[code]

[2015-10-29 07:59] lrhn opened #1506 "Efficient Dart, glossary feedback."
Generally great stuff, but I fear the glossary may be a little too vague to be really useful.
Warning: This may be overly pedantic, but it looks like a *definition*, and I have very high standards for those :)

Since all declarations in Dart are inside a library, the first sentence means that this is the same as "declaration". I'm not sure what a "definition" is.
It is said to "include" top-level

[2015-10-29 10:01] lassedamgaard opened #1507 "Inconsistencies in "Effective Dart: Usage" Async section"
https://www.dartlang.org/effective-dart/usage/#prefer-asyncawait-over-using-raw-futures

This example uses `return await` which contradicts another recommendation:
[code]

IMO it should be:
[code]

Furthermore, the 'bad' example using the `Future` API is overly verbose because it contradicts the recommendation to use tear-offs instead of closures and also unnecessarily returns a Future in `catchEr

[2015-10-29 15:17] sethladd commented on #1505
cc @vsmenon @leafpetersen how bad does strong mode want generics on collections?

[2015-10-29 15:28] sethladd commented on #1507
Thanks for the feedback!

https://github.com/dart-lang/www.dartlang.org/pull/1508 addresses the first comment.

[2015-10-29 15:42] vsmenon commented on #1505
In general, the more precise the type, the more benefit you'll get from strong mode.  At the moment, it's not required.

That said, we will think about tightening this.  We have at least a couple requests to warn (e.g., https://github.com/dart-lang/sdk/issues/24712) about implicit dynamics of this form.

[2015-10-29 17:00] leafpetersen commented on #1505
There seem to be some different modes of use of strong mode developing, so we're still considering exactly how to surface this and what options to offer users to control this.  Here's the current status though.

If you use the collection literal/constructor in a fully typed context (assign it to a variable with an instantiated type, pass it to a function with a fully instantiated type) we will inf

[2015-10-29 23:17] munificent commented on #1503
Whoa, I had no idea.

That sounds to me like something we should try to fix in our tooling and not something users should have to make their code more verbose to work around.

[2015-10-29 23:23] munificent commented on #1505
Strong mode is a bit of a moving target, so I don't want to mention it in the guidelines just yet. Once we have a clearer picture of what the best practices are, I'm fine with revising the guides. But, for now, I think it's good to be a little vague.

[2015-10-29 23:23] #1505 closed

[2015-10-29 23:34] munificent commented on #1506
Being pedantic is great!

For "member" what I'm looking for is a word that means "named thing with a body of executable code". I think the spec calls them "functions" but that term can be confusingly precise to a reader who doesn't think that includes methods, getters, etc.

No, it's not.

For "variable", I wanted a term that excludes fields. (Though, now that I look through the guidelines, I don'

[2015-10-29 23:57] nex3 commented on #1503
That would be awesome, but unless we expect that to happen very soon we should still probably ease up on the language in the guide.

[2015-10-30 08:18] lrhn commented on #1506
That excludes fields (unless you consider the implicit body of the implicit getter), which I usually consider members too. I'd use `function` for something executable, and mention that explicit getters and setters are functions too. It's not clear what a constructor is, though.

I'd then use "member of something" for anything introduced by a non-type declaration inside "something".

The spec actua

[2015-10-30 15:39] zoechi opened #1510 "Update dart-js-interop"
update https://www.dartlang.org/articles/js-dart-interop/
with new https://pub.dartlang.org/packages/js stuff

[2015-10-30 16:26] kwalrath commented on #1510
Until we get to real docs, we can at least post a link to the js package.

[2015-10-30 19:37] sethladd opened #1511 "Updating the FAQ"
https://www.dartlang.org/support/faq.html

Was taking a look, and a bunch of questions are either irrelevant now or out of date. For example, the browsers that we support. We might want to take a look at this doc.

Thanks!

[2015-10-30 19:37] sethladd commented on #1511
cc @kevmoo @anders-sandholm

[2015-10-30 20:52] Sfshaza commented on #1489
I fixed these broken links, which were pointing to the bleeding edge version of dart:developer.

The Observatory docs are now located here: http://dart-lang.github.io/observatory/

[2015-10-30 20:52] #1489 closed

[2015-10-30 20:55] Sfshaza commented on #1422
I've moved the Observatory docs to here:
http://dart-lang.github.io/observatory/

And I've added a mention, on the debugger page, about the presence of anext. I'm closing this bug.

[2015-10-30 20:55] #1422 closed

[2015-10-30 21:34] Sfshaza commented on #1403
The slambook example has been updated to use async/await. However, the forms tutorial needs to be updated to reflect the latest version of slambook.

[2015-10-30 21:35] Sfshaza commented on #1068
I did a big pass on this some time ago. I think we are in good shape, so I'm closing this.

[2015-10-30 21:35] #1068 closed

[2015-10-30 23:12] Sfshaza commented on #1477
Done.   Docs are now here:
http://dart-lang.github.io/observatory/

[2015-10-30 23:12] #1477 closed

[2015-11-03 12:04] sebe commented on #1463
One minor issue, the production archive download page has a javascript error- 404 due to there being a dev 1.12.1 directory which has no version file , and only arm files in the sdk directory, maybe it can be removed.
Failed to load resource: the server responded with a status of 404 (OK)
https://storage.googleapis.com/dart-archive/channels/dev/release/1.12.1/VERSION

Here is a patch, that I have

[2015-11-03 12:10] whesse commented on #1463
The gs://dart-archive/channels/dev/release/1.12.1/ directory is now removed.

[2015-11-03 12:12] whesse commented on #1463
@sethaldd Do we need a contributor agreement for this patch?

[2015-11-03 15:32] sebe commented on #1463
Cool, that fixed the 404 error.

I be happy with only adding  'ARMv7': 'arm', and  'ARMv7': const ['Dart SDK'] or similar lines and a code comment about when the ARMv7 release started, Stable with 1.12.0 2015-08-31 and Dev with 1.13.0-dev.7.2 2015-10-21

If someone goes back to a release that has an arm link, without out an actual sdk file, they just get a xml error page
[code]

[2015-11-03 17:16] sethladd commented on #1463
Yes please.

[2015-11-04 00:03] kwalrath commented on #1475
We can doc this to some extent, but it's behind a flag and not yet implemented in dart2js, so it's not urgent.

[2015-11-04 16:59] sethladd commented on #1475
The VM supports it, and the analyzer supports it. It may not be urgent for some Dart projects, but it's a valid feature for Flutter developers. It's used in Flutter's code now.

[2015-11-05 01:04] nex3 commented on #1504
Another refactor that this breaks pretty badly is adding a `try`/`catch` around a `return`. If it's `return await`, exceptions in the future-handling code are caught as intended, but otherwise they're not.

[2015-11-05 01:45] kwalrath opened #1512 "Run dartfmt on examples; document how to do this"
I don't remember what line length we were using, and dartfmt has changed. We should do another pass on samples in www.dartlang.org and in dart-up-and-running-book (which has the samples for ch01, ch02, and ch03).

[2015-11-05 21:13] eneev-a opened #1515 "Suggest to re-arrange program source to make dartfmt produce better output"
Can we include in [Effective Dart: Style Guide](https://www.dartlang.org/effective-dart/style/) a suggestion to re-arrange program source when formatter produces questionable output?

If the program code is so tricky that it baffles the formatter, it might be worth trying to re-arrange code so that it doesn't.

A similar suggestion is done in [Effective Go: Formatting](https://golang.org/doc/effec

[2015-11-05 21:17] eneev-a opened #1516 "Compile best practices document illustrating code that baffles formatter and suggested code transformations"
Related to [Issue #1515](https://github.com/dart-lang/www.dartlang.org/issues/1515).

This is a suggestion to compile a "Best Practices" document that would illustrate
 - common examples that make dartfmt produce suboptimal output, and
 - ways to re-arrange source code so that dartfmt produces better output

[2015-11-05 23:52] kwalrath commented on #1516
Perhaps this could start out as a community doc. What do you think, @munificent?

[2015-11-06 12:59] luan-cestari commented on #1290
Got the same problem , I tried to access the "https://storage.googleapis.com/download.dartlang.org/linux/debian" URL and I get a "NoSuchKey" error in XML format, which might be an internal errror (maybe the URL is not valid anymore due some reason)

[2015-11-06 14:09] whesse commented on #1290
You cannot view a cloud storage directory with the https://storage.googleapis.com URL.  You can only get an individual cloud storage object, using its complete URL.  There is an unsupported application https://gsdview.appspot.com/ application which does allow viewing a cloud storage directory, but it doesn't seem to work for gs://download.dartlang.org.  It does work with dart-archive:  http://gsdv

[2015-11-06 16:26] luan-cestari commented on #1290
Hi @whesse , thank you for the help and information. I downloaded the DEP file and installed it, it seems to work fine. I would just mentioned that it is just one symbolic link created in the /usr/bin/ (for dart) and there are some other tools which I was expecting to be exposed in /usr/lib/dart/bin/ (for example, pub). Maybe all the files in the dart/bin could a symbolic link.

[2015-11-06 17:05] kwalrath commented on #1290
Do we need to change the docs?

[2015-11-06 17:56] kwalrath commented on #1511
@kevmoo @anders-sandholm @mit-mit, any takers?

[2015-11-06 22:29] kwalrath opened #1517 "Add strong mode info to types article"
https://www.dartlang.org/articles/why-dart-types/ is one of our first articles. We might want to mention Strong Mode in there.

**How to use strong mode**

With the command line [analyzer](https://github.com/dart-lang/analyzer_cli#dartanalyzer), `--strong-mode` gets you into strong mode.  With the analysis server, put

[code]

into your .analysis_options file, and you should start seeing strong mo

[2015-11-07 00:49] kwalrath opened #1518 "Update language tour (meta issue)"
Fixed the following in [1679013002](https://codereview.chromium.org/1679013002/)

- [x] #1538 Update Language Tour where it recommends using "part".
- [x] #1533 Deferred loading not so new any more
- [x] #1181 ch 2 - state when the superclass default constructor is called
- [x] #1180 ch 2 - clarify a call to a superclass constructor
- [x] #1179 Ch 2 - Expand coverage of initializer list
- [x] #117

[2015-11-07 00:52] sethladd commented on #1518
:heart:

[2015-11-09 21:38] kwalrath commented on #1171
That text disappeared at some point.

[2015-11-09 21:38] #1171 closed

[2015-11-10 04:10] sebe commented on #1463
I have only just completed the cla form. https://cla.developers.google.com/about/google-individual
So when you get a chance sebe-patch-1 branch has both the dart and js updated.

[2015-11-10 18:00] kwalrath commented on #1463
I'm about to merge @sebe's PR: https://github.com/dart-lang/www.dartlang.org/pull/1519.

Any objections?

[2015-11-10 18:09] kevmoo opened #1520 "TLS/SSL guide: reference SecureSocket.initialize – which does not exist in 1.13"
Should be removed – see https://github.com/dart-lang/http_server/issues/31

[2015-11-10 19:29] munificent commented on #1504
Fixed by 1e9ef99ddcb1c9290244c8f862c43278f174fd9c.

[2015-11-10 19:29] #1504 closed

[2015-11-10 19:31] munificent commented on #1516
+1 for it being a community doc. How about a wiki page on the formatter's repo: https://github.com/dart-lang/dart_style/wiki

I wouldn't want to document this too "officially" because it's fuzzy and a moving target. It's definitely not a *goal* of the formatter to be baffled by any code so I look at documenting this as a workaround for the tool's (reasonable) limitations.

[2015-11-10 19:34] kwalrath commented on #1516
A wiki page on the dart_style repo sounds perfect. @eneev-a, do you want to start it or recruit contributors?

[2015-11-11 04:21] sethladd opened #1521 "Link from dartfmt page to the FAQ for dart_style"
Tons of great docs in https://github.com/dart-lang/dart_style/wiki/FAQ. Can we link to it from https://www.dartlang.org/tools/dartfmt/ ?

A google search for dartfmt finds the later page, with no hint of the former.

Thanks for your help!

[2015-11-11 04:22] sethladd commented on #1521
cc @munificent @Sfshaza

[2015-11-11 17:23] Sfshaza commented on #1510
The existing article now points to the newer docs.

[2015-11-11 18:20] munificent commented on #1521
+1!

[2015-11-12 18:45] kwalrath commented on #1494
https://chromiumcodereview.appspot.com/1433933003/

[2015-11-13 11:30] jkleiser opened #1522 "No use of line "var NEWLINE = '\n';" in Command Line example"
In the dcat example at www.dartlang.org/docs/tutorials/cmdline/, the line "var NEWLINE = '\n';" seems to be a leftover. If there had been any use for this NEWLINE, I think it would have been better had it been a 'const' than a 'var'.
I also find it strange that dartanalyzer fails to report unused top-level const's and var's.

[2015-11-13 21:24] eneev-a commented on #1516
@kwalrath, I'll be happy to start one as soon as I collect some examples.

Since this is going to be an ongoing process I think there is no need to keep this issue open.

[2015-11-13 21:27] kwalrath commented on #1516
OK, closing this issue. Thanks very much for taking this on, @eneev-a!

[2015-11-13 21:27] #1516 closed

[2015-11-16 15:59] butlermatt opened #1523 "Mobile page has outdated information on Fletch."
This page:
https://www.dartlang.org/mobile/

Indicates the following about Fletch:

May also want to update the Fletch video with Kasper's presentation from the GOTO Confrence
https://youtu.be/Hx2iGEAvZRk

[2015-11-16 16:11] Sfshaza commented on #1512
I've been using a line length of 70.

[2015-11-16 16:31] kwalrath opened #1524 "Add Previous/Next links to bottom of Effective Dart pages"
From an internal bug (now closed):
Currently you read a page, it ends, and there is no easy way to go next.
You need to scroll all the way up to move to next page, it is kind of clunky.

We could perhaps use the same scheme as the tutorials, where next/previous is defined by variables in the template.

[2015-11-16 18:09] kevmoo opened #1525 "Dart linux installation instructions should have instructions for pub"
_From @kulakowski on November 13, 2015 19:13_

https://www.dartlang.org/downloads/linux.html does not mention that pub (and dartfmt etc.) are placed in the location described in https://www.dartlang.org/tools/sdk/. Linking to the latter's instructions would be clarifying.

I came across this following the directions on http://flutter.io/getting-started/ which point to the linux installation instru

[2015-11-18 05:22] Sfshaza commented on #1494
Files are now on GitHub, along with the server-side codelab.
http://dart-lang.github.io/server/

[2015-11-18 05:22] #1494 closed

[2015-11-19 10:14] mit-mit commented on #1475
@kwalrath any news on this? Would be good to get this updated now that we completed 1.13.

[2015-11-19 18:12] kwalrath commented on #1475
I expect to finish updating the Language Tour by year's end.

[2015-11-19 19:17] Sfshaza commented on #1520
Fixed this on the server pages, which are now on GitHub:
http://dart-lang.github.io/server/tls-ssl.html

[2015-11-19 19:17] #1520 closed

[2015-11-19 19:20] Sfshaza commented on #1523
Fixed.

[2015-11-19 19:20] #1523 closed

[2015-11-20 18:21] Sfshaza opened #1526 "Change async modifier to defer in Dart scripts"
An async script executes before the whole page is available (in chrome), but defer waits until the page has loaded. In cases where you want to make sure that all the DOM on the initial page is available from within your main function, you should use defer instead of async.

```<script defer src="index.dart" type="application/dart"></script>```
```<script defer src="packages/browser/dart.js"></scri

[2015-11-21 22:01] sebe opened #1528 "API docs link broken on downloads archive page for stable 1.13.0"
API Doc link is broken for stable channel 1.13.0 and for dev since 1.13.0-dev.5.0
https://www.dartlang.org/downloads/archive/

In 1.12.2 there are two zip files a dart-api-docs.zip	(4.9M) and dartdocs-gen-api.zip (37.2M) in the api-docs directory. http://gsdview.appspot.com/dart-archive/channels/stable/release/1.12.2/api-docs/

Now in the stable 1.13.0 the api-docs is a file link "api-docs	18-Nov-

[2015-11-23 08:44] mit-mit commented on #1528
@whesse, can you take a look please?

[2015-11-23 10:07] sebe commented on #1463
Thanks, this issue can be closed now, website now has armv7 sdk builds.

[2015-11-23 13:54] Sfshaza commented on #1463
Thanks, Bill and sebe!

[2015-11-23 13:54] #1463 closed

[2015-11-23 16:25] whesse commented on #1528
@keertip Is this intended, that we are publishing the docs in a different format?  I'll look at when the change happened, to see what caused it.

[2015-11-23 20:45] Sfshaza commented on #1403
This example has been updating to Polymer Dart 1.0.

[2015-11-23 20:48] Sfshaza commented on #1401
The old Polymer tutorial is removed and a new Polymer tutorial describing how to use custom Polymer elements has been added.
https://www.dartlang.org/docs/tutorials/using-polymer/

[2015-11-23 20:48] #1401 closed

[2015-11-23 20:53] Sfshaza commented on #1275
Examples updated for Polymer Dart 10 use @HtmlImport.

It is documented here:
https://github.com/dart-lang/polymer-dart/wiki/Dart-to-HTML-imports

[2015-11-23 20:53] #1275 closed

[2015-11-23 20:55] Sfshaza commented on #1274
We have removed the web_components docs from the Polymer Dart documentation.

[2015-11-23 20:55] #1274 closed

[2015-11-23 20:55] Sfshaza commented on #1195
This documentation now lives in another repo. Closing.

New location:
https://dart-lang.github.io/server/google-cloud-platform/app-engine/

[2015-11-23 20:55] #1195 closed

[2015-11-23 20:57] Sfshaza commented on #1138
This documentation no longer lives in this repo. It can now be found here:
https://dart-lang.github.io/server/google-cloud-platform/

[2015-11-23 20:57] #1138 closed

[2015-11-23 20:58] Sfshaza commented on #1094
I was careful to use these terms correctly when writing the new Polymer tutorial and the former tutorial has been retired.
https://www.dartlang.org/docs/tutorials/using-polymer/

[2015-11-23 20:58] #1094 closed

[2015-11-23 20:59] Sfshaza commented on #936
Now that Polymer Dart has been updated to 1.0, this paradigm is no longer relevant. Closing.

[2015-11-23 20:59] #936 closed

[2015-11-23 21:01] Sfshaza commented on #921
I believe this issue is resolved in the Polymer Dart 1.0 update. Also, the code in the using_paper_elements example shows this sort of thing.

New tutorial:
https://www.dartlang.org/docs/tutorials/using-polymer/

Polymer Dart 1.0 developer guide:
https://github.com/dart-lang/polymer-dart/wiki

[2015-11-23 21:01] #921 closed

[2015-11-23 21:03] Sfshaza commented on #918
observeblock no longer exist in the Polymer Dart 1.0 update.

Docs:
https://github.com/dart-lang/polymer-dart/wiki

[2015-11-23 21:03] #918 closed

[2015-11-23 21:06] Sfshaza commented on #870
I think this can be closed.

Polymer Dart Developer Guide:
https://github.com/dart-lang/polymer-dart/wiki

New Polymer Dart tutorial:
https://www.dartlang.org/docs/tutorials/using-polymer/

[2015-11-23 21:06] #870 closed

[2015-11-23 21:12] Sfshaza commented on #739
The Polymer Dart landing page has been moved off of dartlang and updated to Polymer Dart 1.0.

1.0 Developer Guide:
https://github.com/dart-lang/polymer-dart/wiki

Using Polymer Elements Tutorial
https://www.dartlang.org/docs/tutorials/using-polymer/

[2015-11-23 21:12] #739 closed

[2015-11-23 21:14] Sfshaza commented on #785
This is no longer relevant with Polymer Dart 1.0.

1.0 Developer Guide:
https://github.com/dart-lang/polymer-dart/wiki

Using Polymer Elements tutorial:
https://www.dartlang.org/docs/tutorials/using-polymer/

[2015-11-23 21:14] #785 closed

[2015-11-24 18:07] Sfshaza commented on #1083
Will not fix because https://www.polymer-project.org/1.0/ docs cover details like this.

[2015-11-24 18:07] #1083 closed

[2015-11-24 18:14] Sfshaza commented on #894
The Polymer Dart package has been reworked. Closing this.

[2015-11-24 18:14] #894 closed

[2015-11-24 18:24] Sfshaza commented on #857
We no longer cover this sort of documentation on dartlang. Polymer Dart docs are covered in the [Polymer Dart wiki](https://github.com/dart-lang/polymer-dart/wiki) and another resource is the [Polymer](https://github.com/dart-lang/polymer-dart/wiki) docs.

[2015-11-24 18:24] #857 closed

[2015-11-24 18:40] Sfshaza commented on #786
I'm not sure if this is true with the updated version of initPolymer. In any case, these docs are now handled over on the [1.0 Developer Guide](https://github.com/dart-lang/polymer-dart/wiki)

[2015-11-24 18:40] #786 closed

[2015-11-24 18:50] Sfshaza commented on #885
Fixed.

[2015-11-24 18:50] #885 closed

[2015-11-24 21:03] Sfshaza opened #1529 "Debugging in JetBrains"
I installed WebStorm on my new laptop. I was able to do all the normal stuff one does, like test in Dartium and test on Chrome. But when I tried to do "Debug index.html", it turns out I needed to install a JetBrains IDE Support plugin for Chrome.

We should document this.

[2015-11-25 14:49] mit-mit opened #1530 "Broken link in language tour"
The link to 'Error' here is broken:
https://www.dartlang.org/docs/dart-up-and-running/ch02.html#exceptions

[2015-11-25 17:54] Sfshaza commented on #1521
I'm addressing this by moving the dartfmt page from dartlang to GitHub. I have a PR out for review. I will then set up redirects from dartlang to that page, which does link to the faq.

[2015-11-25 18:36] Sfshaza commented on #1526
I searched dartlang for instances of this, in all html and markdown files.  There isn't much that needs fixing:

./articles/embedding-in-html/index.markdown:
  1. Do not use async or defer attributes on your Dart script tag at this point.

./_includes/header.html:
   <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=apno2k33xucna4srya26u4i2ri"></script>

./docs/spec/examp

[2015-11-26 05:58] sebe commented on #1528
While working out the cause, getting the website link to work would be good.
Could you not fix this problem for current release, 1.13.0, api docs by renaming the file api-docs to dartdocs-gen-api.zip, then create the api-docs directory and move the dartdocs-gen-api.zip under the api-docs directory?

[2015-11-26 06:32] whesse commented on #1528
Yes, I'll work on fixing it that way.

[2015-11-26 09:20] anders-sandholm commented on #1510
Thanks for putting in the Note.

I'd like to propose that we also link to the new Chart example https://github.com/google/chartjs.dart/ and possibly also Kevin's post on http://work.j832.com/2015/10/byojsl.html

[2015-11-27 15:14] whesse commented on #1528
The download link on dartlang.org is now working, for 1.13.0.  We still need to verify that the zip file downloaded is correct when unzipped, and works like the old one.

We also need to fix the script that is putting the zip file in the incorrect place.  I think someone is just trying to copy to that directory, not realizing that directories don't really exist in cloud storage, and if the directo

[2015-11-28 19:24] sebe commented on #1528
Looks OK.
I unzip the file and it's the api ref for "Dart SDK 1.13.0", version is at the bottom of the page.
It's the same as https://api.dartlang.org/1.13.0/index.html , except the search box is not working, this is this is also the case for previous release "Dart SDK 1.12.2".

[2015-11-30 08:58] gavincardoza opened #1531 "Learning Dart: Second Edition on https://www.dartlang.org/books/"
Hi,

We would like to add our new title 'Learning Dart: Second Edition' to the books section on https://www.dartlang.org.

Here is the book link: http://bit.ly/1YCHD1u

You can get in touch with me here: partners@packtpub.com

Thanks.

[2015-11-30 18:06] sethladd commented on #1531
Hi! Pull Requests are very welcome.

[2015-12-01 23:17] Sfshaza commented on #1531
Fixed and has gone live.  https://www.dartlang.org/books/

Thanks for bringing this to our attention!

[2015-12-01 23:17] #1531 closed

[2015-12-02 00:19] kwalrath opened #1533 "Deferred loading not so new any more"
The "Lazily loading a library" section says "Warning: Deferred loading is a new feature first implemented in 1.6. If you use it, let us know about any implementation issues you discover."

I think we can remove that note now. Also check for other warnings and notes referring to version numbers.

[2015-12-04 00:15] Sfshaza commented on #1521
Fixed.

[2015-12-04 00:15] #1521 closed

[2015-12-04 23:12] munificent opened #1534 ""endsWith" is not a noun phrase"
Remove it from the [guideline about using noun phrases for methods](https://www.dartlang.org/effective-dart/design/#consider-naming-functions-and-methods-using-a-noun-phrase-if-the-return-value-is-its-primary-purpose).

[2015-12-07 17:53] whesse commented on #1528
My change to the promote script to copy the whole api directory is broken, when there is only one file in the source directory that we copy to the target.  Reverting it, so we just copy the one file to the new location, in https://codereview.chromium.org/1502253002/

Running the new script leaves the old file there with the "api-docs" name, so we have both an "api-docs" file and an "api-docs\" dir

[2015-12-09 01:36] kwalrath commented on #1530
I'd already fixed a bunch of API links (including this) in my in-flight version, but I'll leave this open until I submit those changes.

[2015-12-09 18:41] Sfshaza opened #1535 "Clean up package-layout page"
Specifically, the "Web files" section.

https://www.dartlang.org/tools/pub/package-layout.html#web-files

[2015-12-13 02:05] Scorpiion opened #1536 "Remove gen_snapshot tool from docs?"
The article on snapshots mentions the gen_snapshot tool, but it seems it is no longer shipped with the SDK? I found an issue suggesting that it might even be deprecated in favor in support directly in the Dart VM?

What is the status of this tool and should it be removed from the docs?

If someone with the knowledge could answer if snapshots for Dart still is a priority, that would be great as wel

[2015-12-13 02:15] Scorpiion commented on #1536
Maybe this issue is related as well, on the topic of snapshots priority, it seems to suggest that snapshots still is prioritized because of command line apps in Dart (maybe also relevant to mobile apps startup, I'm thinking for server apps startup time is not that important really, not enough that it's worth creating a snapshot in Dart's case):
https://github.com/dart-lang/sdk/issues/20470

[2015-12-14 22:25] kwalrath opened #1537 "Add recommendations for designing/implementing libraries"
This could be a job for https://effective-dart-dot-dart-lang.appspot.com/effective-dart/design/. If not, we could put it in some other doc as an example of one way to go. It's already used in many examples, but it seems appropriate to provide docs so people don't have to infer from the source code.

Some examples of what we might recommend (off the top of my head; this is not a complete or final l

[2015-12-14 22:25] kwalrath commented on #1537
cc @Sfshaza

[2015-12-14 22:28] Sfshaza opened #1538 "Update Language Tour where it recommends using "part"."
https://www.dartlang.org/docs/dart-up-and-running/ch02.html#libraries-and-visibility

[2015-12-14 23:43] kwalrath commented on #1232
@sethladd: Gilad didn't think this change was an improvement. Please check out https://chromiumcodereview.appspot.com/1513613002/ for details, and let me know if you have any feedback.

[2015-12-14 23:54] sethladd commented on #1232
Taking the conversation to the CL. Thanks for the ping!

[2015-12-15 00:19] kwalrath commented on #1536
@a-siva can you shed some light?

[2015-12-16 20:12] #1530 closed

[2015-12-16 20:12] #1484 closed

[2015-12-16 20:12] #1452 closed

[2015-12-16 20:12] #1442 closed

[2015-12-16 20:12] #1418 closed

[2015-12-16 20:12] #1321 closed

[2015-12-16 20:12] #1232 closed

[2015-12-16 20:12] #1183 closed

[2015-12-16 20:12] #1174 closed

[2015-12-23 07:07] aikar opened #1539 "Better doc organization for Browser/Server"
Looking at the docs, it's not immediately clear (without digging and intuition) which dart API's are browser oriented, server oriented or both.

There's a warning on top of dart:io, but that could easily be missed.

Then you have things like dart:web_gl, which by intuition you can figure out, but outside of that, it's not immediately clear that its browser only.

I suggest categorizing the docs as

[2016-01-04 22:08] kwalrath commented on #1539
Yes, this could and should be clearer.

@aikar: Could you please list a few URLs for the docs you found particularly confusing?

[2016-01-06 18:03] kevmoo opened #1540 "https://www.dartlang.org/ left sidebar TOC is less useful than it used to be"
_From @BlackHC on January 6, 2016 12:31_

It used to display all subheaders but now only the main headers are displayed. This makes it more difficult to navigate the style guide and usage guide :(

_Copied from original issue: dart-lang/sdk#25359_

[2016-01-06 23:22] ninachen opened #1541 "Example code should say "rectangle" not "rect" because abbreviations are discouraged"
Example code for "DO use getters for operations that conceptually access properties."
https://www.dartlang.org/effective-dart/design/#do-use-getters-for-operations-that-conceptually-access-properties should not use abbreviations (https://www.dartlang.org/effective-dart/design/#avoid-abbreviations).

**Expected result**
`rectangle.width`

**Actual result**
`rect.width`

[2016-01-08 18:20] ninachen opened #1542 ""CONSIDER omitting the types for local variables." should be under Type Annotations section?"
https://www.dartlang.org/effective-dart/usage/#consider-omitting-the-types-for-local-variables

Currently, it's under "Variables" in Usage, although I often find myself looking for it under "[Type annotations](https://www.dartlang.org/effective-dart/design/#type-annotations)" in Design.

I can see arguments for putting it in either place, although it seems like it belongs more under Type annotatio

[2016-01-11 21:03] munificent opened #1543 "AVOID generic public top-level member names"
From @yjbanov:

[2016-01-11 21:33] sethladd commented on #1543
How do I know how to design a library to be imported as a prefix? Shouldn't I assume that I don't control that, and my user may or may not use a prefix?

[2016-01-11 21:43] munificent commented on #1543
By "how" do you mean "whether or not"? I think that's basically up to you. If the library mostly exposes bare functions, and their names reasonable have a lot in common, I think it often makes sense to assume an import prefix and then use shorter function names.

You don't *control* it, but I think you have the freedom to design an API that assumes your user is reasonable and will use a prefix if

[2016-01-11 21:50] sethladd commented on #1543
Should the title be "AVOID generic public top-level member names if your library is not designed to be used with a prefix" or is the advice to "AVOID generic public top-level member names" ?

Maybe there's another bit of guidance: "Be explicit if your library is designed to be used with a prefix" ?

[2016-01-11 21:52] munificent opened #1544 "Clarify guideline around one-sentence summary in doc comment"
1. Use the same comment for both the good and bad examples to show the difference.
2. Explain that part of the motivation is the "inverted pyramid" style of writing.
3. More clearly stress the value users get from doing this: better tooling, quicker skimming, etc.

[2016-01-11 22:19] yjbanov commented on #1543
I think choosing to design a prefixed library and choosing top-level names are separate concerns. _If_ you are working on a prefixed library, then avoid using generic top-level names would be the guideline. The decision to design a prefixed library would have already taken place by then, driven by other factors.

We could have a separate guideline about when to recommend a prefix.

[2016-01-20 18:40] zidenis opened #1546 "Update Mixins on UpAndRunning"
Section "Adding features to a class: mixins" states "To implement a mixin, create a class that extends Object, declares no constructors, and has no calls to super"

It's outdated since Dart 1.13 and greater supports mixins that can extend from classes other than Object, and can call super()

[2016-01-21 17:58] kwalrath commented on #1546
The language tour has a bunch of known issues where it needs updating (see #1518). Unfortunately, I only got halfway through them before something more urgent came up. This particular issue is a duplicate of #1475.

PRs would be very welcome...

[2016-01-21 17:58] #1546 closed

[2016-01-21 18:02] kwalrath commented on #1518
Added #1533 and #1538.

[2016-01-29 19:56] mulander commented on #315
Just learned this is possible from this issue. Would be nice to have this documented.

[2016-02-06 15:04] sethladd opened #1548 "JS Interop article out of date"
https://www.dartlang.org/articles/js-dart-interop/

cc @kevmoo

[2016-02-07 18:07] foundatron opened #1549 "samples files not found"
Sample application fails because the sample file is not found

Example: https://www.dartlang.org/docs/tutorials/fetchdata/#making-a-get-request
File not found: https://www.dartlang.org/samples-files/portmanteaux.json

[code]

[2016-02-09 17:53] Sfshaza commented on #1548
Yes, this page has a note at the beginning to that effect. Once the tool is available, we can look at new docs.

[2016-02-09 18:02] sethladd commented on #1548
Should we just remove this doc? It's not accurate.

[2016-02-09 18:03] Sfshaza commented on #1548
Can do!

[2016-02-09 18:08] kevmoo commented on #1548
Do we want to remove the page or just put in a place-holder?

If folks are searching now, I don't know if we want to give folks 404 if they search between new and then...

[2016-02-09 18:10] sethladd commented on #1548
Delete the content and say "Updated docs coming soon" and link to the README of package:js ?

[2016-02-09 18:14] kevmoo commented on #1548
Yes!

On Tue, Feb 9, 2016 at 10:10 AM, Seth Ladd <notifications@github.com> wrote:

[2016-02-09 19:05] kwalrath commented on #1208
We're reimplementing the website, so I'm closing this bug.

[2016-02-09 19:05] #1208 closed

[2016-02-10 23:15] Sfshaza commented on #1548
Fixed.

[2016-02-10 23:15] #1548 closed

[2016-02-11 18:24] kwalrath opened #1550 "Talk about package:resource"
It seems like [package:resource](https://pub.dartlang.org/packages/resource) might be the general purpose way to go for reading data from your own package (and/or other packages?). If so, we should cover it on www.dartlang.org. More info: https://github.com/dart-lang/resource

[2016-02-26 13:34] anders-sandholm opened #1554 "The versioning of the spec on the web page and on the spec's cover don't agree"
_From @kmillikin on February 26, 2016 8:45_

I don't know how to triage this issue.  I keep getting confused about versioning of the spec.

https://www.dartlang.org/docs/spec/ claims to link to the 3rd edition of the spec.  But when I click on the link I get a cover page that says 4th edition.  This is confusing.

_Copied from original issue: dart-lang/sdk#25866_

[2016-02-26 13:36] anders-sandholm commented on #1554
@kmillikin , thanks for filing the issue. I updated contents in the repo. Should be visible once we redeploy the site [@kwalrath may be able to help with that]

[2016-02-27 16:17] bb-harlan opened #1555 "Error in "Get Started" page"
The following excerpt from https://www.dartlang.org/docs/tutorials/get-started/ is erroneous.

- "When you download Dartium, you get a special build of the Chromium web browser that has the Dart VM (virtual machine) embedded. (While the app is referred to as Dartium, the executable is actually named Chromium.)"

The executable is not named Chromium; it is named Chrome. (... spent a lot of time loo

[2016-02-29 22:57] kwalrath commented on #1555
@bb-harlan in my current version (1.15.0-dev.1.0, MacOS) it's still called Chromium. What version are you using?

[2016-03-01 02:46] bb-harlan commented on #1555
I have Windows version 1.14.1.

[2016-03-01 03:55] kwalrath commented on #1555
It's quite possible the name is different in Windows, but unfortunately I don't have a Windows system to check with.

[2016-03-01 05:40] bb-harlan commented on #1555
FWIW, here's screen shot of contents of Dartium folder.

![image](https://cloud.githubusercontent.com/assets/17514556/13418730/b5ca08b4-df3d-11e5-83d3-fa2955a26b84.png)

[2016-03-01 12:47] kwalrath commented on #1555
Thank you! The executable name difference might be attributable to the installation tool, not to the actual build. I'll look into it.

[2016-03-04 12:49] anders-sandholm opened #1556 ""The Dart Programming Language" appears twice on the book page"
Looks like Gilad's book "The Dart Programming Language" appears twice on the book page, https://www.dartlang.org/books/

[2016-03-04 14:46] #1556 closed

[2016-03-09 05:56] skybrian opened #1558 "missing code describing the cascade operator"
https://www.dartlang.org/docs/dart-up-and-running/ch02.html#cascade

You’ve probably noticed the cascade operator (..) already. It allows you to perform multiple operations on the members of a single object.

Consider the following code:

[code is missing].

[2016-03-09 06:45] Sfshaza commented on #1558
Yup, I have a CL out to Kathy that would address this. Thanks, @skybrian!

[2016-03-10 21:12] Sfshaza commented on #1558
Fixed.

[2016-03-10 21:12] #1558 closed

[2016-03-10 21:13] Sfshaza commented on #1538
Fixed.

[2016-03-10 21:13] #1538 closed

[2016-03-10 21:15] Sfshaza commented on #1533
Fixed.

[2016-03-10 21:15] #1533 closed

[2016-03-10 21:17] Sfshaza commented on #1518
Fixed.

[2016-03-10 21:17] #1518 closed

[2016-03-10 21:19] Sfshaza commented on #1475
Fixed.

[2016-03-10 21:19] #1475 closed

[2016-03-10 21:21] Sfshaza commented on #1181
Fixed.

[2016-03-10 21:21] #1181 closed

[2016-03-10 21:21] Sfshaza commented on #1180
Fixed.

[2016-03-10 21:21] #1180 closed

[2016-03-10 21:22] Sfshaza commented on #1179
Fixed.

[2016-03-10 21:22] #1179 closed

[2016-03-10 21:22] Sfshaza commented on #1177
Fixed.

[2016-03-10 21:22] #1177 closed

[2016-03-10 21:23] Sfshaza commented on #1176
Fixed.

[2016-03-10 21:23] #1176 closed

[2016-03-10 21:24] Sfshaza commented on #1234
Fixed.

[2016-03-10 21:24] #1234 closed

[2016-03-10 21:25] Sfshaza commented on #1111
Fixed.

[2016-03-10 21:25] #1111 closed

[2016-03-10 21:25] Sfshaza commented on #315
Fixed.

[2016-03-10 21:25] #315 closed

[2016-03-12 19:06] skybrian opened #1560 "wrong section is bolded for some items in the language tour"
For this URL:
https://www.dartlang.org/docs/dart-up-and-running/ch02.html#exceptions

On the left side, "Exceptions" should be highlighted, but "Control flow statements" is actually highlighted.

The highlighted section is off by one for every section beyond that point in the language tour.

[2016-03-14 20:26] kwalrath commented on #1560
Duplicate of #1077. I hope this issue will be fixed in the re-implemented website.

[2016-03-14 20:26] #1560 closed

[2016-03-15 22:05] Sfshaza commented on #1257
Closing.

[2016-03-15 22:05] #1257 closed

[2016-03-15 22:06] Sfshaza commented on #1257
(Since we've moved the Observatory docs off of dartlang.)

[2016-03-15 22:08] Sfshaza commented on #1131
We've moved the cloud docs off dartlang. Closing.

[2016-03-15 22:08] #1131 closed

[2016-03-15 22:11] Sfshaza commented on #750
Server docs have been moved off of dartlang. Closing.

[2016-03-15 22:11] #750 closed

[2016-03-16 03:10] Sfshaza commented on #1534
Fixed.

[2016-03-16 03:10] #1534 closed

[2016-03-16 03:11] Sfshaza commented on #1524
Fixed.

[2016-03-16 03:11] #1524 closed

[2016-03-18 20:38] kwalrath commented on #1555
Proposed fix is in #1561.

[2016-03-19 00:34] kwalrath commented on #1555
#1561 is committed. The website probably won't be updated until next week.

[2016-03-19 00:34] #1555 closed

[2016-03-19 02:51] bb-harlan commented on #1555
Thank you for following through.

[2016-03-29 16:59] vsmenon opened #1563 "Style doc on super-goes-last is missing?"
We used to recommend placing `super` last in the initializer list.  I don't see that in the style guide any more.

The linter references the original text:

https://github.com/dart-lang/linter/blob/master/lib/src/rules/super_goes_last.dart

@munificent @pq

[2016-04-06 18:17] pq commented on #1563
Interesting.  Maybe this is stale advice?  Paging @munificent!

[2016-04-06 19:41] munificent commented on #1563
No, the advice is still good. Even more important now since DDC requires it.

It just got lost when I reorganized the style guide into Effective Dart.

[2016-04-11 05:36] Zectbumo opened #1564 "Support page has a broken community link"
https://www.dartlang.org/support/ contains a link `Connecting Dartisans` that goes to http://connecting.dartisans.net/ and says `This site can’t be reached`

[2016-04-12 22:34] kwalrath commented on #1564
Thanks very much for reporting this.

[2016-04-12 22:35] kwalrath commented on #1564
Fixed in 28be0930043a430a43ff75d09642cb48d8ccfe58

[2016-04-12 22:35] #1564 closed

[2016-04-13 17:10] kwalrath opened #1566 "Update instructions for deleting a package?"
https://www.dartlang.org/tools/pub/faq.html#how-do-i-delete-a-package says to file an sdk bug. That sounds wrong to me.

[2016-04-15 17:07] kwalrath commented on #1566
@nex3 what's the best way to file a "delete my package" bug?

[2016-04-15 19:04] nex3 commented on #1566
I guess probably filing an issue on pub-dartlang-dart?

[2016-04-15 19:35] kwalrath commented on #1566
https://github.com/dart-lang/pub/issues?

[2016-04-15 19:44] nex3 commented on #1566
No, https://github.com/dart-lang/pub-dartlang-dart/issues.

[2016-04-19 16:15] kwalrath opened #1567 "Warn against creating circular package dependencies?"
See https://github.com/angular/angular.io/issues/1122. @jakemac53 says that circular library dependencies (within a package) can be hard to avoid, but that it's easier (and probably a good thing, in general) to avoid circular package dependencies.

cc @munificent

[2016-04-21 22:51] munificent commented on #1567
cc @nex3

[2016-04-22 21:33] chalin opened #1569 "Checked mode not enabled in dartium even if DART_FLAGS is set"
As documented here: https://www.dartlang.org/tools/dartium/#using-command-line-flags
[code]
does not enable checked mode.

[2016-04-22 21:34] chalin commented on #1569
The following does work though: `open path/Chromium.app --args --checked`

[2016-04-22 21:34] chalin commented on #1569
/cc: @kwalrath

[2016-05-07 13:17] dvorapa opened #1570 "Text highlighted in code example not selectable"
If there is a code example and inside is a part, which is highlighted and has got hint, the text inside the highlighted part is not selectable

[2016-05-11 21:57] kwalrath commented on #1570
@Sfshaza could you make sure this works in the new site?

[2016-05-11 21:58] Sfshaza commented on #1570
Will do!

On Wed, May 11, 2016 at 2:57 PM, Kathy Walrath <notifications@github.com>
wrote:

[2016-05-11 22:55] kwalrath opened #1572 "Fix API doc links"
Shams might already have handled this, but before I close https://github.com/dart-lang/sdk/issues/26433, here's a tracking bug to make sure our new website uses the right link format.

See also https://github.com/dart-lang/api.dartlang.org/issues/62.

[2016-05-31 20:15] kwalrath opened #1577 "Fix links"
I found these 404s through https://validator.w3.org/checklink?uri=https%3A%2F%2Fwww.dartlang.org%2F&hide_redirects=on&hide_type=all&recursive=on&depth=2&check=Check#results1:

* https://www.dartlang.org/dart-by-example/ -> https://www.dartlang.org/docs/serverguide.html
* https://www.dartlang.org/articles/zones/ -> https://api.dartlang.org/apidocs/channels/stable/#dart-async.ZoneDelegate (and other

[2016-06-01 08:07] zoechi opened #1578 "dartlang.org doesn't seem to have a link to http://news.dartlang.org/"
I found in the source that there is a super-tiny link at the entry page below the "Scalable, productive app development" banner but I'd expect it for example below menu `More` > `Articles`

[2016-06-01 12:44] gazialankus opened #1579 "Write Command-Line Apps tutorial does not work on Windows, can't find packages"
This tutorial: https://www.dartlang.org/docs/tutorials/cmdline/

Won't work on Windows:

[code]

I also started a stackoverflow question about it: http://stackoverflow.com/questions/37568953/dart-command-line-app-on-windows-cant-import-packages

[2016-06-01 12:54] zoechi commented on #1579
A simple self-contained command line script might work without `pubspec.yaml` and without conforming to the pub package layout conventions but when packages (like `args` in the tutorial) AFAIK this can't work anymore. The tutorial should explain that or at least point to pages that do.

[2016-06-03 08:16] gazialankus opened #1580 "Typo "to do do" -> "to do so" in Dart Language Asynchrony Support: Phase 2"
I found a little typo. At the end of the second sentence here, "to do do" should be "to do so": https://www.dartlang.org/articles/beyond-async/#the-devils-details

[2016-06-03 18:18] kwalrath commented on #1580
Thanks for the report!

[2016-06-03 18:19] #1580 closed

[2016-06-16 07:36] zoechi opened #1584 "Typeo in http://news.dartlang.org/2016/06/unboxing-packages-path.html"
Not sure if this is the right place to report

`idiosynctatic` should be `idiosyncratic` (`r` instead of `t`) - at least this is a word I know and found in the dictionary ;-)

[2016-06-17 18:35] kwalrath commented on #1584
I saw that and assumed that @nex3 was intentionally making up a word (or that it is indeed a word in syntax circles). Idiosyncratic + syntactic = idiosynctactic.

But just in case it wasn't intentional, I mentioned @nex3.

Thanks, @zoechi! (And yes, this seems as good a place as any to report random Dart stuff that writers care about.)

[2016-06-17 18:35] #1584 closed

[2016-06-17 18:37] zoechi commented on #1584
Didn't think of that, but now it seems likely that you are right :)

[2016-06-20 21:48] nex3 commented on #1584
This wasn't intentional, but I can't figure out how to edit the post :-/

[2016-06-23 18:51] skybrian opened #1585 "language tour doesn't explain imports, exports, and part files"
https://www.dartlang.org/docs/dart-up-and-running/ch02.html

Searching on "export" I see that it's a keyword, but not how it works. Similarly for "import".

(More specifically, I was looking for how we explain the format of URL's in import statements.)

[2016-07-06 19:34] nex3 opened #1588 "Update the "pub run" documentation to reflect current behavior"
The [documentation for `pub run`](https://www.dartlang.org/tools/pub/cmd/pub-run.html) is outdated—it's no longer valid to use `pub run foo/bar` to run the file `foo/bar.dart`. There are now three valid ways of specifying the executable:

* `dart_style:format` means "run the `format` executable from the `dart_style` package".
* `test` means "run the `test` executable from the `test` package". It's

[2016-07-06 21:16] nex3 commented on #1588
I misremembered and misread the code; the current documentation is actually fine.

[2016-07-07 23:32] skybrian commented on #1588
The documentation still looks wrong to me. Specifically:

[code]
The example is using a Dart identifier, but the explanation is for when the user typed "foo.dart".

It seems like the docs should say what you just said, explaining the difference between running "foo.dart" versus "foo".

[2016-07-11 22:36] eukreign commented on #1164
It's been 2 years since this issue was filed. Is there any light at the end of the tunnel on this?

I understand some people use Macs and they can install via homebrew, but there are also a lot of Dart users on Linux that currently have no straightforward way to get content-shell.

The http://gsdview.appspot.com/dart-archive/channels/dev/release/latest/dartium/ link does not appear to work with `c

[2016-07-12 19:18] kwalrath commented on #1164
@whesse?

[2016-07-13 03:40] eukreign commented on #1164
I've created a docker container with content-shell installed and made it easy to use with the Dart test package. This should be useable on all OS'es where docker can be used.

https://github.com/damoti/content-shell

It's also on docker hub:

https://hub.docker.com/r/damoti/content-shell

[2016-07-14 11:51] kmillikin commented on #1554
I'm reopening this issue, because it seems to have regressed.

https://www.dartlang.org/guides/language/spec claims to link to the 3rd edition, but actually links to the current (4th) edition.

[2016-07-14 16:22] kwalrath commented on #1554
Oops, it looks like this change fell through the cracks, somehow. We'll fix this soon. I've created a new bug to track this: https://github.com/dart-lang/site-www/issues/10

[2016-07-14 16:22] #1554 closed

[2016-07-14 17:28] kwalrath opened #1589 "Clarify that this repo is OLD and no longer used"
(However, we're leaving it around for reference. For now, at least. The README is particularly helpful.)

Link to the new repos:

https://github.com/dart-lang/site-www
https://github.com/dart-lang/site-webdev
https://github.com/dart-lang/site-events

[2016-07-18 14:01] nicolasgarnier commented on #1164
Also here are some instructions on how to install Dartium Content Shell on Ubuntu and Debian: https://github.com/google/test_runner.dart/blob/master/CONTENT_SHELL_INSTALL_INSTRUCTIONS.md

[2016-07-18 14:16] zoechi commented on #1164
Chrome introduced a flag to run headless recently. I hope Dartium will soon become more up-to-date with Chrome versions to make content_shell obsolete entirely.

[2016-07-18 16:51] munificent opened #1590 "Change "avoid annotating with dynamic" guideline"
With 2.0, strong mode, and no implicit dynamic, I think we're moving to a world where `dynamic` *should* be explicitly annotated in idiomatic code, and Effective Dart should reflect that.

[2016-07-19 23:59] munificent opened #1591 "Provide guidance for naming type parameters"
Right now, the style guide is silent. I'm thinking maybe something like:

[2016-07-21 20:43] Sfshaza commented on #1577
Closing. We have a link checker for the new sites.

[2016-07-21 20:43] #1577 closed

[2016-07-21 20:45] Sfshaza commented on #1572
Fixed. Closing.

[2016-07-21 20:45] #1572 closed

[2016-07-21 20:51] Sfshaza commented on #1570
I believe this works on the new site. For example, go to this page, scroll down, and select the highlighted text:

https://webdev.dartlang.org/codelabs/ng2/3-inputnamebadge

You can select it, copy it, and paste it elsewhere. Closing.